#screen1-separator{
    height: 54vh;
}

.background-img {
    background-position: 49% 19%;
    background-size: 64%;
}

.buttonDWS-prod-selection {
    width: 100%;
    }
li img {
    width: 15%;
}

@font-face {
  font-family: 'DIN-condensed';
  src: url('/customStatic/Fonts/DINOT-CondBold.ttf');
}

html body, html body button.buttonDWS-prod-selection, button.btn{
	font-family: "DIN-condensed";
    text-transform: uppercase;
}
.font-keyboard.all-keyboards a, .font-keyboard{
    text-transform: none;
}

.finishText.stars-container{
	display: none!important;
}

.menu.tour_2_1.tour_4_1.screen1{
	visibility: hidden;
}

#selectLangBox{
	display: inline-block;
}
#cale_remove{
   width: 80%;
}
