#screen1-separator{
    height: 65vh;
}
.background-img{
    background-position-x: center;
}
.menu.screen1{
	color: white;
}
.dropdown{
	text-align: left;
}
/* Color selector */
.dot.accessory.rouge{
  background-color: #861114;
}

.dot.accessory.cognac{
  background-color: #853e25;
}

.dot.accessory.creme{
  background-color: #b89b76;
}

.dot.accessory.noir{
  background-color: #303231;
}
/*NEW COLORS*/
.dot.accessory.celestial_blue{
  background-color: #95afd0;
}
.dot.accessory.dandy_green{
  background-color: #355945;
}
.dot.accessory.elixir_brown{
  background-color: #26151b;
}
.dot.accessory.joy_red{
  background-color: #c1653c;
}
.dot.accessory.magnetic_grey{
  background-color: #1c1f27;
}
.dot.accessory.prestige_red{
  background-color: #723431;
}
.dot.accessory.stone_beige{
  background-color: #d7d3c8;
}
.dot.accessory.sunlight_yellow{
  background-color: #bec745;
}

.dot.accessory.or{
  background-color: #a08c46;
  background-image: linear-gradient(to right, #a08c46, #ebdab4, #a08c46, #a08c46, #ebdab4);
}

.dot.accessory.neutre{
  background-color: #e6e6e6;
}

.dot.bottle.or{
  background-color: #f5aa69;
  background-image: linear-gradient(to right, #a08c46, #ebdab4, #a08c46, #a08c46, #ebdab4);
}

.dot.bottle.argent{
  background-color: #854585;
  background-image: linear-gradient(to right, #545857, #c3c7c6, #545857, #545857, #c3c7c6);
}

.dot.bottle.rouge{
  background-color: #851016;
  background-image: linear-gradient(to right, #851016, #ab3b40, #851016, #851016, #ab3b40);
}

.dot.bottle.neutre{
  background-color: #e6e6e6;
}

textarea {
    height: 62px;
}

.dropdown.col-sm-6{
	display: inline-block;
    width: 49%;
}

.dropdown-menu.has-image>li>a {
	padding: 0px 0px;
}

.dot-color-container{
    /*padding-left: 8%;*/
    text-align: center;
}

.dot-color {
    height: auto;
    text-align: center;
    vertical-align: top;
}

span .boeuf-hennessy{
	width: 15%;
}

#logo {
    width: 78%;
    padding-top: 24px;
}

@font-face {
font-family: gothic;
src: url('/customStatic/Fonts/GOTHIC.TTF');
}

body{
	font-family: engravingFont_HennessySerif1765_A;
}

@font-face {
	font-family: engravingFont_HennessySerif1765_A;
	src: url(/customStatic/Fonts/HennessySerif1765-Regular1.otf);
}
@font-face {
	font-family: EmojisFont;
	src: url('/customStatic/Fonts/symbola.woff');
}

@font-face {
	font-family: CustomEmojisFont;
	src: url('/customStatic/Fonts/customEmojis-HSY.otf');
}

.ui-keyboard button{
    font-family: CustomEmojisFont,EmojisFont!important;
}

textarea{
    font-family: CustomEmojisFont,engravingFont,Trebuchet MS,Verdana,Arial,sans-serif,EmojisFont!important;
    resize: none;
}
.buttonDWS-prod-selection {
    font-size: 15px;
}

span .boeuf-hennessy.inline{
	display: inline;
    margin-bottom: 4px;
}

.btn.btn-default.select-lang{
    color: #fff;
    background-color: #000;
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.menu.screen1{
	margin-left: 7px;
	margin-right: 7px;
}

#myRange{
  height: 8px;
  border-radius: 5px;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#right-panel p {
	padding: 0;
}

#textCanvas.paradiseParadis_imperial {
    margin-left: 60px;
    margin-top: -1px;
}

#textCanvas.paradise_accessoriescol_clipse_paradise_imperial_rouge{
    margin-left: -53px;
    margin-top: -1px;
}

#textCanvas.paradise_accessoriescol_clipse_paradise_imperial_cognac{
    margin-left: -53px;
    margin-top: -1px;
}

#textCanvas.paradise_accessoriescol_clipse_paradise_imperial_creme{
    margin-left: -53px;
    margin-top: -1px;
}

#textCanvas.paradise_accessoriescol_clipse_paradise_imperial_noir{
    margin-left: -53px;
    margin-top: -1px;
}


#selectLangBox{
	display: inline-block;
}

@media only screen and (min-height: 600px){
    textarea {
        height: 130px;
    }

	#right-panel p {
		font-size: 17px;
	}
}

html body button:not(.ui-keyboard-button), html body a, html body p, html body h1, html body h2, html body h3, html body h4,
html body select, html body span{
	text-transform: uppercase;
	white-space: inherit;
}

html body button.ui-keyboard-button span{
	text-transform: initial;
}

body .dot-color p, body li.font-keyboard.defaultDWS a{
	text-transform: capitalize;
}

.row:nth-child(2) div {display:inline-block; line-height:250px;
  vertical-align:middle; margin:.25em; padding:0; height:auto; width:auto}

#textCanvas {display:table; vertical-align:middle; margin:0; border:0;
  padding:0;}