{% extends 'safeLayout.html'%}


{% block body %}
    <div class="container overlay">
        <div class="card">
            <div class="row filters">
                <div class="col-sm-3 col-xs-6">
                    <label for="filter-idBrand">ID Brand:</label>
                    <input type="text" class="form-control" id="filter-idBrand" name="filter-idBrand">
                </div>
                <div class="col-sm-3 col-xs-6">
                    <label for="filter-idProduct">ID Product:</label>
                    <input type="text" class="form-control" id="filter-idProduct" name="filter-idProduct">
                </div>
                <div class="col-sm-3 col-xs-6">
                    <label for="filter-name">Product name:</label>
                    <input type="text" class="form-control" id="filter-name" name="filter-name">
                </div>
                <div class="col-sm-1 col-xs-3 text-center">
                    <label class="invisible">hello</label>
                    <button type="button" class="btn btn-primary filter" onclick="filterProducts()">Apply</button>
                </div>
                <div class="col-sm-1 col-xs-3 text-center">
                    <label class="invisible">hello</label>
                    <button type="button" class="btn btn-primary filter" onclick="removeFilters()">Remove</button>
                </div>
            </div>
            <div class="row filters" style="margin-top:2rem">
                <div class="col-sm-1 col-xs-1 text-center">
                    <label style="visibility:hidden">All</label>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <label for="filter-radio-all">All</label>
                    <input type="radio" id="filter-radio-all" name="filter-finished"
                           onchange="radioButtonFilter()" value="all" checked>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <label for="filter-radio-not-finished">Pending</label>
                    <input type="radio" id="filter-radio-not-finished" name="filter-finished"
                           onchange="radioButtonFilter()" value="not-finished">
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <label for="filter-radio-finished">Finished</label>
                    <input type="radio" id="filter-radio-finished" name="filter-finished"
                           onchange="radioButtonFilter()" value="finished">
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <label for="filter-radio-not-finished">No final versions</label>
                    <input type="radio" id="filter-radio-not-final-version" name="filter-finished"
                           onchange="radioButtonFilter()" value="not-final-version">
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <label for="filter-radio-finished">Final versions</label>
                    <input type="radio" id="filter-radio-final-version" name="filter-finished"
                           onchange="radioButtonFilter()" value="final-version">
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="product-grid col-md-3 col-sm-4 col-xs-6 {{product.realIdBrand}} {{product.idProduct}}
                {{ 'not-finished' if product.finished is defined and not product.finished }} {{product.productName}}
                {{ 'final-version' if product.finalVersions is defined }}">
                    <div class="product-item" id="product-{{product.idProduct}}">
                        {% if product.finished is defined and not product.finished %}
                            <a class="hoverable" href="/safe2?idProduct={{product.idProduct}}&idBrand={{product.realIdBrand}}">
                                This product is being parametrized.
                            </a>
                        {% endif %}
                        <a href="/safe2?idProduct={{product.idProduct}}&idBrand={{product.realIdBrand}}">
                            <div class="product-image">
                                <img class="picture" src="https://www.my-dws.com/assets/img/Product/{{product.realIdBrand}}/{{product.idProduct}}.png"
                                     onerror='this.src="{{ url_for("static", filename="images/product_default.png") }}"'/>
                            </div>
                            <div class="product-content">
                                <h5 class="title">
                                    <a href="/safe2?idProduct={{product.idProduct}}&idBrand={{product.realIdBrand}}">
                                        {{product.categoryName if product.categoryName else "No category"}}
                                    </a>
                                </h5>
                                <div class="volume">{{product.productName}}</div>
                            </div>
                        </a>
                    </div>
                    {% if product.finalVersions %}
                        <span class="fa fa-check-circle green" title="This product has a final record for versions {{product.finalVersions.keys() | list | sort}}"></span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}