<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/customStatic/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href='/customStatic/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='/customStatic/css/jquery-ui.css'>
    <link rel="stylesheet" type="text/css" href='/customStatic/css/font-awesome.css'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="safe.css") }}'>
    <script src='/customStatic/js/jquery.min.js'></script>
    <script src='/customStatic/js/bootstrap.min.js'></script>
    <script src='/customStatic/js/canvas.js'></script>
    <script src='/customStatic/js/functionalities.js'></script>
    <script src='{{ url_for("static", filename="safe.js") }}'></script>
    <title>SAFE</title>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>