{% extends 'safeLayout.html'%}

{% block body %}
    <script src='{{ url_for("static", filename="lodash.min.js") }}'></script>
    <div class="container overlay">
        <input type="hidden" name="base64img_process" value="">
        <input type="hidden" name="color_list" value="">
        <div class="card">
            {% if product_data["status"] != 200 %}
                <h1>ERROR GETTING DATA</h1>
            {% endif %}
            <div class="row" id="result-engrave" style="display:none">
                <div class="col-sm-12 result-engrave-all" id="sending-engraving-loadingGif" style="display:none">
                    <img src='/customStatic/images/Loading.gif' alt="Loading...">
                    <button type="button" class="btn" onclick="stopLaser()">STOP!</button>
                </div>
                <div class="col-sm-12 result-engrave-all error" id="error-sending-engraving" style="display:none">
                    <h3>ERROR sending engraving to laser</h3>
                    <p></p>
                </div>
                <div class="col-sm-12 result-engrave-all" id="ok-sending-engraving" style="display:none">
                    <h3>Engraving sent correctly</h3>
                    <p></p>
                </div>
                <div class="col-sm-12 result-engrave-all error" id="error-storing-engraving" style="display:none">
                    <h3>ERROR storing engraving on server</h3>
                    <p></p>
                </div>
                <div class="col-sm-12 result-engrave-all" id="ok-storing-engraving" style="display:none">
                    <h3>Engraving stored correctly on server</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Engrave a grid</h2>
                </div>
                <div class="col-sm-2">
                    <h2>
                    <button type="button" class="btn" data-toggle="modal" id="load-modalPreDefParams"
                            data-target="#modalPreDefParams">Select predefined parameters</button>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h2>
                    <button type="button" class="btn" onclick="showPatternGrid()">See pattern</button>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h2>
                    <button type="button" class="btn" onclick="sendGridEngrave()">Engrave!</button>
                    </h2>
                    <h2>
                        <button type="button" class="btn" data-toggle="modal" data-target="#modalAddCommentEngraving">Add comment</button>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="product-image">
                        <!--<div class="redsquare rack moving-square" [style.bottom]="laserpoint + '%'">
                            <canvas #engravingCanvas id="engravingCanvas" class='red-border'
                            [height]="dmmPx" [width]="dmmPx"></canvas>
                        </div>'

                        -->
                    <div id="canvas-container" class="redsquare rack moving-square">
                        <canvas id="textCanvas" class='red-border'></canvas>
                    </div>
                        <img class="picture" src="https://www.my-dws.com/assets/img/Product/{{product_data.realIdBrand}}/{{product_data.idProduct}}.png"
                                     onerror='this.src="{{ url_for("static", filename="images/product_default.png") }}"'/>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="nH-grid">Horizontal number</label>
                                <input type="number" id="nH-grid" name="nH-grid" class="form-control no-get-intermedios grid-events"
                                 min="0" max="10" value="3">
                            </div>
                            <div class="form-group">
                                <label for="dH-grid">Horizontal spacing</label>
                                <input type="number" id="dH-grid" name="dH-grid" class="form-control no-get-intermedios grid-events"
                                 min="0" max="15" value="8">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="nV-grid">Vertical number</label>
                                <input type="number" id="nV-grid" name="nV-grid" class="form-control no-get-intermedios grid-events"
                                 min="0" max="10" value="5">
                            </div>
                            <div class="form-group">
                                <label for="dV-grid">Vertical spacing</label>
                                <input type="number" id="dV-grid" name="dV-grid" class="form-control no-get-intermedios grid-events"
                                 min="0" max="15" value="8">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="textForGrid">Character</label>
                                <input type="text" id="textForGrid" name="textForGrid" maxlength="3"
                                       class="form-control no-get-intermedios grid-events" value="A">
                            </div>
                            <div class="form-group">
                                <label for="vCenter">Vertical center</label>
                                <input type="number" id="vCenter" name="vCenter" class="form-control no-get-intermedios grid-events"
                                    value="30" min="-100" max="100">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="fontsize-0">Fontsize</label>
                                <input type="number" id="fontsize-0" name="fontsize-0" maxlength="3"
                                       class="form-control no-get-intermedios grid-events" value="5">
                            </div>
                            <div class="form-group">
                                <label for="hCenter">Horizontal center</label>
                                <input type="number" id="hCenter" name="hCenter" maxlength="3"
                                       class="form-control no-get-intermedios grid-events" value="30">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Parameters grid</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="h-min-val">min</label>
                                <input type="number" id="h-min-val" name="h-min-val" maxlength="5"
                                       class="form-control no-get-intermedios grid-events" value="50">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="typeH-grid">Left parameter</label>
                                <select id="typeH-grid" name="typeH-grid" class="form-control no-get-intermedios grid-events">
                                    <option value="puissance">Puissance</option>
                                    <option value="frequence">Frequence</option>
                                    <option value="vitesse">Vitesse</option>
                                    <option value="mark_delay">Mark Delay</option>
                                    <option class="hidden" value="jumpdelay">Jump Delay</option>
                                    <option value="nbpassage">Nombre Passages</option>
                                    <option value="n_jump_lines">n_jump_lines</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="h-max-val">Max</label>
                                <input type="number" id="h-max-val" name="h-max-val" maxlength="5"
                                       class="form-control no-get-intermedios grid-events" value="100">
                            </div>
                        </div>
                    </div>
                    <div class="row grid-table-parent">
                        <div id="div-side-table" class="col-sm-3">
                            <div class="form-group">
                                <label for="v-min-val">min</label>
                                <input type="number" id="v-min-val" name="v-min-val" maxlength="5"
                                       class="form-control no-get-intermedios grid-events" value="0">
                            </div>
                            <div class="form-group">
                                <label for="typeV-grid">Right parameter</label>
                                <select id="typeV-grid" name="typeH-grid" class="form-control no-get-intermedios grid-events">
                                    <option value="puissance">Puissance</option>
                                    <option value="frequence" selected>Frequence</option>
                                    <option value="vitesse">Vitesse</option>
                                    <option value="mark_delay">Mark Delay</option>
                                    <option class="hidden" value="jumpdelay">Jump Delay</option>
                                    <option value="nbpassage">Nombre Passages</option>
                                    <option value="n_jump_lines">n_jump_lines</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="v-max-val">Max</label>
                                <input type="number" id="v-max-val" name="v-max-val" maxlength="5"
                                       class="form-control no-get-intermedios grid-events" value="100">
                            </div>
                        </div>
                        <div class="col-sm-9 grid-table-parent">
                            <table id="grid-table" class="grid-table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Rest of parameters</h2>
                  <table id="non-grid-parameters" class="table table-striped fixed-parameters">
                    <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Hatch</td>
                        <td>
                            <input type="number" id="fixed-hatch" name="fixed-hatch"
                                       class="form-control no-get-intermedios" value="0.05" step="0.01">
                        </td>
                      </tr>
                      <tr>
                        <td>Puissance</td>
                        <td>
                            <input type="number" id="fixed-puissance" name="fixed-puissance"
                                       class="form-control no-get-intermedios" value="60">
                        </td>
                      </tr>
                      <tr>
                        <td>Frequence</td>
                        <td>
                            <input type="number" id="fixed-frequence" name="fixed-frequence"
                                       class="form-control no-get-intermedios" value="44">
                        </td>
                      </tr>
                      <tr>
                        <td>Vitesse</td>
                        <td>
                            <input type="number" id="fixed-vitesse" name="fixed-vitesse"
                                       class="form-control no-get-intermedios" value="2000">
                        </td>
                      </tr>
                      <tr>
                        <td>Mark Delay</td>
                        <td>
                            <input type="number" id="fixed-mark_delay" name="fixed-mark_delay"
                                       class="form-control no-get-intermedios" value="50">
                        </td>
                      </tr>
                      <tr class="hidden">
                        <td>Jump Delay</td>
                        <td>
                            <input type="number" id="fixed-jumpdelay" name="fixed-jumpdelay"
                                       class="form-control no-get-intermedios" value="100">
                        </td>
                      </tr>
                      <tr>
                        <td>Nombre Passages</td>
                        <td>
                            <input type="number" id="fixed-nbpassage" name="fixed-nbpassage"
                                       class="form-control no-get-intermedios" value="5">
                        </td>
                      </tr>
                      <tr>
                        <td>n_jump_lines</td>
                        <td>
                            <input type="number" id="fixed-n_jump_lines" name="fixed-n_jump_lines"
                                       class="form-control no-get-intermedios" value="1">
                        </td>
                      </tr>
                      <tr>
                        <td>Double hatch</td>
                        <td>
                            <input type="number" id="fixed-doublehatch" name="fixed-doublehatch"
                                       class="form-control no-get-intermedios" value="1" min="0" max="1">
                        </td>
                      </tr>
                      <tr>
                        <td>Font</td>
                        <td>
                            <input type="text" id="fixed-font" name="fixed-font"
                                       class="form-control no-get-intermedios">
                        </td>
                      </tr>
                      <tr>
                        <td>Product radius</td>
                        <td>
                            <input type="text" id="fixed-radius" name="parameters.radius"
                                       class="form-control" value="{{product_data.parameters.radius}}">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
<div class="moving-square red-border" style="height: 100%;">
    <canvas id="printCanvas"></canvas>
</div>
    </div>
<script>

    const textareafield= document.getElementById('textToEngrave');
    var product_data = {{product_data | tojson }};
    var predef_params_material = {{pdlpg | tojson }};
    var max_number_of_lines = product_data.parameters.max_number_of_lines;
    var flsp = {{ flsp | safe }};
    var engravingFontName = "engravingFont";
    var default_height = 1;
    var vertical_engraving = 0;
    var vertical_rapport = 0;
    var text_color = "black";
    var XOffset = 0;
	var fontsize = 1;
	var fontsize_min = 1;
	var fontsize_max = 1;
	var maxHeightMM = 60;
	var maxWidthMM = 60;
	var canvasFactor = 1;
</script>





<!-- Modal Modal predefined parameters -->
<div id="modalPreDefParams" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Predefined laser parameters for materials</h4>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <p>Here you have a list of materials to base your first laser parameters. You can modify them later.</p>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Parameter</th>
                          {% for material in pdlpg %}
                            <th>{{material}}</th>
                          {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for parameter in pdlpg["glass"] %}
                            <tr>
                                <td>{{parameter}}</td>
                                  {% for material in pdlpg %}
                                    {% if pdlpg[material][parameter]['activeGrid'] %}
                                        <td style="font-weight: 900;">
                                            {{pdlpg[material][parameter]["min"]}} , {{pdlpg[material][parameter]["max"]}}
                                        </td>
                                    {% else %}
                                        <td>
                                            {{pdlpg[material][parameter]["def"]}}
                                        </td>
                                    {% endif %}
                                  {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Select your material</td>
                              {% for material in pdlpg %}
                                <td>
                                    <input type="radio" name="selected_material" value="{{material}}"
                                        class="no-get-intermedios">
                                </td>
                              {% endfor %}
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" onclick="confirmPreDefParamsSelected();">Confirm</button>
      </div>
    </div>

  </div>
</div>
<!-- END Modal predefined parameters -->

<!-- INIT Modal add comment -->
<div id="modalAddCommentEngraving" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Write your comments about the engraving</h4>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <p>You can write a comment about the result of the engraving.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <label for="store-id-product">Store ID product</label>
                    <input type="text" id="store-id-product" name="store-id-product" class="form-control no-get-intermedios">
                  </div>
                  <div class="col-sm-6">
                    <label for="engraving-comment">Comment</label>
                    <input type="text" id="engraving-comment" name="engraving-comment" class="form-control no-get-intermedios">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default left new-font-step-2" onclick="backToSelectFont();">Cancel</button>
        <button type="button" class="btn btn-default new-font-step-2" onclick="addNewFont();">New engraving</button>
      </div>
    </div>

  </div>
</div>
<!-- END Modal add comment -->

{% endblock %}