{% extends 'safeLayout.html'%}

{% block body %}
    <script src='{{ url_for("static", filename="lodash.min.js") }}'></script>
    <div class="container overlay">
        <input type="hidden" name="base64img_process" value="">
        <input type="hidden" name="textColor" value="0,0,0,255">
        <div class="card">
            {% if product_data["status"] != 200 %}
                <h1>ERROR GETTING DATA</h1>
            {% endif %}
            <div class="row" id="result-engrave" style="display:none">
                <div class="col-sm-12 result-engrave-all" id="sending-engraving-loadingGif" style="display:none">
                    <img src='/customStatic/images/Loading.gif' alt="Loading...">
                    <button type="button" class="btn btn-danger" onclick="stopLaser()">STOP!</button>
                </div>
                <div class="col-sm-12 result-engrave-all error" id="error-sending-engraving" style="display:none">
                    <h3>ERROR sending engraving to laser</h3>
                    <p></p>
                </div>
                <div class="col-sm-12 result-engrave-all" id="ok-sending-engraving" style="display:none">
                    <h3>Engraving sent correctly</h3>
                    <p></p>
                </div>
                <div class="col-sm-12 result-engrave-all error" id="error-storing-engraving" style="display:none">
                    <h3>ERROR storing engraving on server</h3>
                    <p></p>
                </div>
                <div class="col-sm-12 result-engrave-all" id="ok-storing-engraving" style="display:none">
                    <h3>Engraving stored correctly on server</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2 {{ "class=pending" if not prod_is_finished }}>SAFE</h2>
                    <h3 class="errorMessage" style="display:none;">Text too long!</h3>
                </div>
                <div class="col-sm-2">
                    <h2>
                        <button type="button" class="btn hidden" onclick="collapseAll()">Collapse all</button>
                        <button type="button" class="btn btn-danger" onclick="stopLaser()">STOP!</button>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h2>
                        <button type="button" class="btn" onclick="showRedRectangleSafe()">Red rectangle</button>
                    </h2>
                </div>
                <div class="col-sm-2">
                    <h2>
                        <button type="button" class="btn" onclick="sendEngrave()">Send engraving</button>
                    </h2>
                    <h2>
                        <button id="open-comment-popup" type="button" class="btn hidden" data-toggle="modal"
                                data-target="#modalAddCommentEngraving">Open pop up</button>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="product-image">











                        <!--<div class="redsquare rack moving-square" [style.bottom]="laserpoint + '%'">
                            <canvas #engravingCanvas id="engravingCanvas" class='red-border'
                            [height]="dmmPx" [width]="dmmPx"></canvas>
                        </div>'

                        -->
                    <div id="canvas-container" class="redsquare rack moving-square">
                        <canvas id="textCanvas" class='red-border'></canvas>
                    </div>
                        <img class="picture" src="https://www.my-dws.com/assets/img/Product/{{product_data.realIdBrand}}/{{product_data.idProduct}}.png"
                                     onerror='this.src="{{ url_for("static", filename="images/product_default.png") }}"'/>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="textToEngrave">Engraving text</label>
                                <textarea type="text" id="textToEngrave" name="textToEngrave" class="form-control no-get-intermedios"
                                          previous-val=""></textarea>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="hauteur">Hauteur</label>
                                <input type="number" id="hauteur" name="parameters.hauteur" class="form-control"
                                    value="{{product_data.parameters['hauteur']}}" min="-100" max="500">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h2>
                                <a type="button" class="btn btn-info" href="/safeGrid?idProduct={{product_data.idProduct}}&idBrand={{product_data.realIdBrand}}">GRID</a>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>The font selected will be in blue and the laser parameters are automatically selected from the selected font pinLoad.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Fonts</h2>
                        </div>
                        <div class="col-sm-6">
                            <h2><button type="button" class="btn" data-toggle="modal" data-target="#modalNewFont">New font</button></h2>
                        </div>
                        <div class="col-sm-12 fonts-container">
                            <p>Here you have all the fonts assigned to the product.</p>
                            {% for lp in product_data.parameters.fonts %}
                            <button type="button" class="btn {{'btn-info' if loop.index0 == 0 else ''}} fonts-{{ loop.index0 }}"
                                    data-toggle="collapse" data-target="#fonts-{{ loop.index0 }}"
                                    style="font-family: engravingFont{{lp.policeName}}">
                                {{lp.policeName}}
                            </button>

                            <style>
                                @font-face {
                                    font-family: engravingFont{{lp.policeName}};
                                    src: url(/customStatic/Fonts/{{lp.police}});
                                }
                            </style>

                            {% endfor %}
                            {% for lp in product_data.parameters.fonts %}
                            <div class="tab-pane collapse fonts-{{ loop.index0 }}" id="fonts-{{ loop.index0 }}" role="tabpanel" aria-labelledby="fonts-{{ loop.index0 }}-tab">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Parameter</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>policeName</td>
                                            <td>
                                                <input type="text" class="form-control" id="policeName-{{ loop.index0 }}"
                                                       name="parameters.fonts.{{ loop.index0 }}.policeName"
                                                value='{{lp.policeName}}'>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>police</td>
                                            <td>
                                                <input type="text" class="form-control" id="police-{{ loop.index0 }}"
                                                       name="parameters.fonts.{{ loop.index0 }}.police"
                                                value='{{lp.police}}'>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>fontsize</td>
                                            <td>
                                                <input type="number" class="form-control" id="fontsize-{{ loop.index0 }}"
                                                       name="parameters.fonts.{{ loop.index0 }}.fontsize"
                                                value='{{lp.fontsize}}' min="1" max="60">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>fontsize_max</td>
                                            <td>
                                                <input type="number" class="form-control" id="fontsize_max-{{ loop.index0 }}"
                                                       name="parameters.fonts.{{ loop.index0 }}.fontsize_max"
                                                value='{{lp.fontsize_max}}' min="1" max="60">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>laserPin
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["laserPin"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="laserPin-{{ loop.index0 }}"
                                                       name="parameters.fonts.{{ loop.index0 }}.laserPin"
                                                value='{{lp.laserPin}}'>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>color
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["penColor"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="color-{{ loop.index0 }}"
                                                       name="parameters.fonts.{{ loop.index0 }}.color"
                                                value='{{lp.color}}' onchange="updateColorFont(this.value)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" class="btn btn-danger" onclick="removeFont({{ loop.index0 }})">
                                    Remove font
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Laser</h2>
                        </div>
                        <div class="col-sm-6">
                            <h2><button type="button" class="btn" data-toggle="modal" data-target="#modalNewPin">New pin</button></h2>
                        </div>
                        <div class="col-sm-12">
                            <p>Here you have all the laser parameters for each pen mode.</p>
                            <ul>
                                <li><strong>[1 - 99]</strong> --> PENs finales pour la gravure. Ici nous incluons protection mode, parce qu’il sera un PEN « normal », mais référencé depuis un PEN final lié à une police.</li>
                                <li><strong>[100 - 199]</strong> --> PENs développement / tests.</li>
                                <li><strong>[200 - 255]</strong> --> PENs « standard ». Pour le moment uniquement warm up.</li>
                            </ul>
                            <p>Parameter "use_new_cnc_method" does not do anything in Protection Mode</p>
                            {% for lp in product_data.parameters.laser %}
                            <button type="button" id="laser-btn-{{lp.pinLoad}}" class="btn pins-{{ loop.index0 }}" data-toggle="collapse" data-target="#laser-{{ loop.index0 }}">{{lp.pinLoad}}</button>
                            {% endfor %}
                            {% for lp in product_data.parameters.laser %}
                            <div class="tab-pane collapse pins-{{ loop.index0 }}" id="laser-{{ loop.index0 }}" role="tabpanel" aria-labelledby="fonts-{{ loop.index0 }}-tab">
                                <h3>PEN {{lp.pinLoad}}</h3>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Parameter</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Description</td>
                                            <td>
                                                <textarea class="form-control" id="description-{{ loop.index0 }}"
                                                          name="parameters.laser.{{ loop.index0 }}.description" >{{lp.description}}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>hatch
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["hatch"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="hatch-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.hatch"
                                                value='{{lp.hatch}}'>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Engraving mode
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["engravingMode"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                {% set engraving_mode_hatching = lp.engraving_mode == "hatching" or not lp.engraving_mode %}
                                                {% set engraving_mode_contour = lp.engraving_mode == "contour" %}
                                                {% set engraving_mode_wait = lp.engraving_mode == "wait" %}
                                              <select class="form-control" id="engraving_mode-{{ loop.index0 }}" name="parameters.laser.{{ loop.index0 }}.engraving_mode">
                                                <option {{ 'selected=selected' if engraving_mode_hatching else ''}}>hatching</option>
                                                <option {{ 'selected=selected' if engraving_mode_contour else ''}}>contour</option>
                                                <option {{ 'selected=selected' if engraving_mode_wait else ''}}>wait</option>
                                              </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>puissance
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["puissance"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="puissance-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.puissance"
                                                value='{{lp.puissance}}' min="1" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>frequence
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["frequence"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="frequence-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.frequence"
                                                value='{{lp.frequence}}' min="1" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>vitesse
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["vitesse"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="vitesse-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.vitesse"
                                                value='{{lp.vitesse}}' min="1" max="9000">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>nbpassage
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["nbpassage"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="nbpassage-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.nbpassage"
                                                value='{{lp.nbpassage}}' min="1" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>doublehatch
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["doublehatch"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                              <select class="form-control" id="doublehatch-{{ loop.index0 }}" name="parameters.laser.{{ loop.index0 }}.doublehatch">
                                                <option value="0" {{ "selected='selected'" if lp.doublehatch == "0" else ""}}>No</option>
                                                <option value="1" {{ "selected='selected'" if lp.doublehatch == "1" else ""}}>Yes</option>
                                              </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>use_new_cnc_method
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["use_new_cnc_method"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                {% set new_cnc_method = lp.use_new_cnc_method == true or lp.use_new_cnc_method == "True" %}
                                              <select class="form-control" id="use_new_cnc_method-{{ loop.index0 }}" name="parameters.laser.{{ loop.index0 }}.use_new_cnc_method">
                                                <option {{ 'selected=selected' if new_cnc_method else ''}}>True</option>
                                                <option {{ 'selected=selected' if not new_cnc_method else ''}}>False</option>
                                              </select>
                                            </td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>diagonal_engraving</td>
                                            <td>
                                                {% set diagonal_engraving_bool = lp.diagonal_engraving == true or lp.diagonal_engraving == "True" %}
                                              <select class="form-control" id="diagonal_engraving-{{ loop.index0 }}" name="parameters.laser.{{ loop.index0 }}.diagonal_engraving">
                                                <option {{ 'selected=selected' if diagonal_engraving_bool else ''}}>True</option>
                                                <option {{ 'selected=selected' if not diagonal_engraving_bool else ''}}>False</option>
                                              </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>hatch_angle
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["hatch_angle"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="hatch_angle-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.hatch_angle"
                                                value='{{lp.hatch_angle}}' min="0" max="180">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>mark_delay
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["mark_delay"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="mark_delay-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.mark_delay"
                                                value='{{lp.mark_delay}}' min="50" max="2000">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>n_jump_lines
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["n_jump_lines"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="n_jump_lines-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.n_jump_lines"
                                                value='{{lp.n_jump_lines}}' min="1" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>protection_mode_area
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["protection_mode_area"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="protection_mode_area-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.protection_mode_area"
                                                value='{{lp.protection_mode_area}}' min="1">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>protection_mode_pen
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["protection_mode_pen"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="protection_mode_pen-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.protection_mode_pen"
                                                value='{{lp.protection_mode_pen}}' min="1">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>wait_time
                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                      data-placement="top" title='{{help_content["wait_time"]}}'
                                                      aria-hidden="true">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" id="wait_time-{{ loop.index0 }}"
                                                       name="parameters.laser.{{ loop.index0 }}.wait_time"
                                                value='{{lp.wait_time}}' min="1">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-danger" onclick="removePin({{ loop.index0 }})">
                                    Remove pin
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <h2>Product parameters</h2>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Product dimensions
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["prodDimensions"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="parameters.dimensions_orig" name="parameters.dimensions_orig"
                                    value="{{product_data.parameters.dimensions_orig}}" readonly>
                                </td>
                            </tr>
                            {% for param in prod_params %}
                                <tr class='{{param["class"]}}'>
                                    <td>{{param["display_name"]}}
                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                              data-placement="top" title='{{param["hint"] | safe}}'
                                              aria-hidden="true">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id='{{param["id"]}}' name='parameters.{{param["id"]}}'
                                        value='{{product_data.parameters[param["id"]]}}'>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h2 id="Result" style="display:none;">

                    </h2>
                    <h2>
                    <button type="button" class="btn btn-success full-width" onclick="storeProductInServer()">Store product in server</button>
                    </h2>
                </div>
                {% if not prod_is_finished %}
                <div class="col-sm-12">
                    <input type="checkbox" id="parametrizationFinished" name="parametrizationFinished">
                    <label for="parametrizationFinished">I have finished the parametrization of this product.</label>
                </div>
                {% endif %}
                <div class="col-sm-12" id="admin" style="display:none;">
                    <input type="checkbox" id="newUpdateAvailable" name="newUpdateAvailable">
                    <label for="newUpdateAvailable">I want to mark this configuration as ready for real clients.</label>
                </div>
            </div>

        </div>
    </div>
<script>

    const textareafield= document.getElementById('textToEngrave');
    var product_data = {{product_data | tojson }};
    var max_number_of_lines = product_data.parameters.max_number_of_lines;
    var flsp = {{ flsp | safe }};
    var engravingFontName = "engravingFont";
    var default_height = 1;
    var vertical_engraving = 0;
    var vertical_rapport = 0;
    var text_color = "black";
    var XOffset = 0;
	var fontsize = 1;
	var fontsize_min = 1;
	var fontsize_max = 1;
	var maxHeightMM = 60;
	var maxWidthMM = 60;
	var canvasFactor = 1;
</script>

<div class="moving-square hidden" style="height: 100%;">
    <canvas id="printCanvas"></canvas>
</div>


<!-- Modal new font -->
<div id="modalAddCommentEngraving" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-comment-modal" type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
        <h4 class="modal-title">Write your comments about the engraving</h4>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <p>You can write a comment about the result of the engraving, they are optional but recommended.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <label for="store-id-product">Store ID product</label>
                    <input type="text" id="store-id-product" name="store-id-product" class="form-control no-get-intermedios">
                  </div>
                  <div class="col-sm-6">
                    <label for="engraving-comment">Comment</label>
                    <input type="text" id="engraving-comment" name="engraving-comment" class="form-control no-get-intermedios">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default new-font-step-2" onclick="closeModalComment()">Next engraving</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal new font -->
<div id="modalNewFont" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close hidden" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new font</h4>
      </div>
      <div class="modal-body">
          <div class="container new-font-step-1">
              <div class="row">
                  <div class="col-sm-6">
                      <p>You can only add fonts that exist in the app.</p>
                  </div>
                  <div class="col-sm-6">
                    <label for="filter-fonts">Filter fonts</label>
                    <input type="text" id="filter-fonts" name="filter-fonts" class="form-control no-get-intermedios">
                  </div>
              </div>
              <br>
              <div class="row">
                {% for font in af %}
                    <div class="col-sm-3 font-iter">
                        <a onclick="newFontSelected('{{ font }}')">{{ font }}</a>
                    </div>
                {% endfor %}
              </div>
          </div>
          <div class="container hidden new-font-step-2">
            <p>Fill the inputs and click "Add font".</p>
            <p>This will add the font to your computer configuration, but if you refresh the page it will disappear.
            To make it last, you must store the changes on the server.</p>
            <table class="table table-striped">
                <tbody>
                    <tr class="required">
                        <td>policeName</td>
                        <td>
                            <input type="text" class="form-control no-get-intermedios" id="new-font-name">
                        </td>
                    </tr>
                    <tr class="required">
                        <td>police</td>
                        <td>
                            <input type="text" class="form-control no-get-intermedios" id="new-font-file-name" readonly>
                        </td>
                    </tr>
                    <tr class="required">
                        <td>fontsize</td>
                        <td>
                            <input type="number" class="form-control no-get-intermedios" id="new-font-fontsize" min="1" max="60">
                        </td>
                    </tr>
                    <tr>
                        <td>fontsize_max</td>
                        <td>
                            <input type="number" class="form-control no-get-intermedios" id="new-font-fontsize-max" min="1" max="60">
                        </td>
                    </tr>
                    <tr class="required">
                        <td>laserPin
                            <span class="glyphicon glyphicon-question-sign"
                                  data-toggle="tooltip" data-placement="top" title='{{help_content["laserPin"]}}'
                                  aria-hidden="true"></span>
                        </td>
                        <td>
                            <input type="number" class="form-control no-get-intermedios" id="new-font-pin" min="1" max="100">
                        </td>
                    </tr>
                </tbody>
            </table>
              <h2 class="hidden new-font-result">Font added. Save product in server to keep the changes</h2>
              <p class="hidden new-font-result">To be able to use this new font you must first store the changes in the server and then refresh the page</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default left hidden new-font-step-2" onclick="backToSelectFont();">back</button>
        <button type="button" class="btn btn-default new-font-step-2" onclick="addNewFont();">Add font</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal new laser pin -->
<div id="modalNewPin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new laser pin</h4>
      </div>
      <div class="modal-body">
          <div class="container new-pin-step-1">
              <div class="row">
                  <div class="col-sm-12">
                      <p>You can create a new set of laser parameters or use a button from the left to add a set of predefined/special set of parameters:</p>
                      <h2 class="hidden new-pin-result">Pin added. Save product in server to keep the changes</h2>
                      <p class="hidden new-pin-result">To be able to use this new pin you must first store the changes in the server and then refresh the page</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4">
                      <p>
                        <button type="button" class="btn btn-default" onclick="addPredefPin(9);">Add warming up pin</button>
                      </p>
                      <p>
                        <button type="button" class="btn btn-default" onclick="addPredefPin(8);">Add protection mode</button>
                      </p>
                      <p>List of PEN IDs in use (click on number to duplicate PEN):</p>
                      <ul>
                          {% for lp in product_data.parameters.laser %}
                          <li>
                              <a onclick="loadPenToNewPen({{lp.pinLoad}})">{{lp.pinLoad}}</a>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="col-sm-8">
                      <table class="table table-striped">
                          <tbody>
                            <tr class="required">
                                <td>pinLoad</td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-pinLoad" min="1" max="1000">
                                </td>
                            </tr>
                            <tr class="required">
                                <td>Description</td>
                                <td>
                                    <input type="text" class="form-control no-get-intermedios" id="new-pin-description">
                                </td>
                            </tr>
                            <tr>
                                <td>hatch
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["hatch"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="text" class="form-control no-get-intermedios" id="new-pin-hatch">
                                </td>
                            </tr>
                            <tr class="required">
                                <td>Engraving mode
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["engravingMode"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                  <select class="form-control no-get-intermedios" id="new-pin-engraving_mode">
                                    <option value="hatching">hatching</option>
                                    <option value="contour">contour</option>
                                    <option value="wait">wait</option>
                                  </select>
                                </td>
                            </tr>
                            <tr>
                                <td>puissance
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["puissance"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-puissance" min="1" max="100">
                                </td>
                            </tr>
                            <tr>
                                <td>frequence
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["frequence"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-frequence" min="1" max="100">
                                </td>
                            </tr>
                            <tr>
                                <td>vitesse
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["vitesse"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-vitesse" min="1" max="9000">
                                </td>
                            </tr>
                            <tr>
                                <td>nbpassage
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["nbpassage"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-nbpassage" min="1" max="100">
                                </td>
                            </tr>
                            <tr>
                                <td>doublehatch
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["doublehatch"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                  <select class="form-control no-get-intermedios" id="new-pin-doublehatch">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                  </select>
                                </td>
                            </tr>
                            <tr>
                                <td>use_new_cnc_method
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["use_new_cnc_method"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                  <select class="form-control no-get-intermedios" id="new-pin-use_new_cnc_method">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                  </select>
                                </td>
                            </tr>
                            <tr class="hidden deprecated">
                                <td>diagonal_engraving</td>
                                <td>
                                  <select class="form-control no-get-intermedios" id="new-pin-diagonal_engraving">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                  </select>
                                </td>
                            </tr>
                            <tr>
                                <td>hatch_angle
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["hatch_angle"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-hatch_angle" min="1" max="180">
                                </td>
                            </tr>
                            <tr>
                                <td>mark_delay
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["mark_delay"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-mark_delay" min="50" max="2000">
                                </td>
                            </tr>
                            <tr>
                                <td>n_jump_lines
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["n_jump_lines"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-n_jump_lines" min="1" max="100">
                                </td>
                            </tr>
                            <tr>
                                <td>protection_mode_area
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["protection_mode_area"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-protection_mode_area" min="1" max="99999">
                                </td>
                            </tr>
                            <tr>
                                <td>protection_mode_pen
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["protection_mode_pen"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-protection_mode_pen" min="1" max="1000">
                                </td>
                            </tr>
                            <tr>
                                <td>wait_time
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                          data-placement="top" title='{{help_content["wait_time"]}}'
                                          aria-hidden="true">
                                </td>
                                <td>
                                    <input type="number" class="form-control no-get-intermedios" id="new-pin-wait_time" min="1" max="1000">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default new-font-step-1" onclick="addNewPin();">Add pin</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}