{% extends 'safeLayout.html'%}

{% block body %}
    <div class="container">
        <div class="card card-container">
            <img class="logo-img-card" src="/customStatic/images/LOGO_transparent.png" />
            <img id="profile-img" class="profile-img-card hidden" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <form class="form-signin">
                <input type="text" minlength="3" class="form-control" placeholder="Token" name="token" required autofocus>
                <button class="btn btn-lg btn-primary btn-block btn-signin invalid-token" type="button"
                        onclick="validateToken()">Validate</button>
                <button class="btn btn-lg btn-primary btn-block btn-signin valid-token" type="button" style="display:none;"
                        onclick="goToScreen1()">Select product</button>
            </form><!-- /form -->
            <p class="valid-token" style="display:none;">Your token is valid, you can continue</p>
            <p class="invalid-token" style="display:none;">Your token is not correct. Try again or check with an administrator</p>
            <p class="token-info">Contact a system administrator to get your personal token</p>
            <p class="valid-token" id="user-info"></p>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}