/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(81, 156, 183), rgb(218, 218, 218));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 50px auto 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.overlay .card {
    background-color: #ffffff;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 10px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.logo-img-card {
	max-width: 100%;
    margin: 0 auto 10px;
}

/*
 * Form styles
 */

.form-signin{
    padding-top: 20px;
}

.form-signin input{
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(81, 156, 183);
}

p.invalid-token{
	color: red;
}

p.valid-token{
	font-weight: 600;
}

.overlay {
   position: fixed;
   overflow-y: scroll;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.filters label{
	width: 100%;
}

.product-image .picture{
	width: 100%;
	max-height: 500px;
    /*padding: 20px;*/
    object-fit: contain;
}

.product-item .product-image .picture{
	height: 100%;
}

 .product-grid .product-image{
    height: 200px;
}

.product-image{
	max-height: 500px;
}

h2 button{
	float: right;
}

/** CANVAS STYLES **/
div.redsquare {
    transform: translate(50%, 50%);
    position: absolute;
    margin-bottom: 0px;
    margin-top: 0px;
    right: 50%;
    bottom: 50%;
    width: 145px;
}

.red-border {
    border: 1px solid #ef0202;
}

.moving-square canvas {
    z-index: 999;
    position: relative;
    width: 100%;
    height: 100%;
}

.btn.btn-success.full-width{
	width: 100%;
}



div.not-finished div.product-image img.picture, div.not-finished div.product-info{
    opacity: 0.3;
}

div.not-finished div.product-image img.picture:hover{
    opacity: 0.3;
}

div.not-finished div.product-content a, div.not-finished div.product-content div{
    opacity: 0.5;
    color: red;
}

input[type=radio]{
    width: 50%;
    /*margin: 20%;*/
    height: 15px;
}

.hoverable {
	text-align: center;
	visibility: hidden;
	position: absolute;
	bottom: 50%;
	margin: auto;
	width: 100%;
	z-index: 2;
}

div.product-item:hover .hoverable {
	visibility:visible;
}

.result-engrave-all{
	color: green;
}

.result-engrave-all.error{
	color: red;
}

#sending-engraving-loadingGif{
	text-align: center;
}

.pending{
	color: red;
}

.modal .modal-dialog{
	width: 80%;
}

.modal .modal-dialog .modal-body .container{
	width: 100%;
}

a{
	cursor: pointer;
}

.left{
    float: left;
}

.required{
	font-weight: bold;
}


/* ICONS */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-check-circle:before {
    content: "\f058";
}
span.fa{
    font-size: 2.5rem;
    color: grey;
    position: absolute;
    right: 0rem;
    top: 0rem;
}

span.green{
    color: green;
}


/* GRID INIT */
.grid-table-parent{
	display: table;
    height: 100%;
}
.grid-table {
	width: 100%;
    height: 100%;
	table-layout: fixed;
    text-align: center;
}
/* GRID EMD */