{% extends 'layout.html'%}

{% block content %}


{% if not acb %}
    <div class="row backup-step-1">
        <div class="col-sm-6">
            <h2>There are no backups stored</h2>
        </div>
        <div class="col-sm-6">
            <h2 class="center"><a href="/screen1" type="button" class="btn btn-primary">Back to app</a></h2>
        </div>
    </div>
{% endif %}

{% if acb %}
    <div class="row backup-step-1">
        <div class="col-sm-6">
            <h2>Complete app backups</h2>
        </div>
        <div class="col-sm-6">
            <h2 class="center"><a href="/screen1" type="button" class="btn btn-primary">Back to app</a></h2>
        </div>
        <div class="col-sm-12">
            <p>In this table you have a list of all the available backups for the whole app:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date of back up</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in acb%}
                    <tr>
                        <td>{{category["date"]}}</td>
                        <td class="center">
                            <button onclick='startBackUpProcess("{{category["path"]}}","{{category["date"]}}")'
                                    type="button" class="btn btn-danger">Select this backup</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row backup-step-1">
        <div class="col-sm-12">
            <h2>Backups by products</h2>
            <p>If you just want to roll back the changes of a single product, you can do it here:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Date of back up</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in apb%}
                    <tr>
                        <td>{{product["prod_name"]}}</td>
                        <td>{{product["date"]}}</td>
                        <td class="center">
                            <button
                                onclick='startBackUpProcess("{{product["path"]}}","{{product["date"]}}","{{product["prod_name"]}}","{{product["prod_id"]}}")'
                                type="button" class="btn btn-danger">Select this backup</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row backup-step-2 hidden">
        <div class="col-sm-6">
            <h2>Confirm backup selection:</h2>
        </div>
        <div class="col-sm-6">
            <h2 class="center">
                <button onclick="showBackupList()" type="button" class="btn btn-primary">Back to list of backups</button>
            </h2>
        </div>
    </div>
    <div class="row backup-step-2 hidden">
        <div class="col-sm-4">
            <p>Date selected:</p>
            <p id="selected_date"></p>
        </div>
        <div class="col-sm-4">
            <p class="selected_product-p hidden">Product selected:</p>
            <p id="selected_product" class="selected_product-p hidden"></p>
        </div>
        <div class="col-sm-4 center">
            <button onclick="confirmBackUp()" type="button" class="btn btn-danger">Confirm backup</button>
            <input type="hidden" id="folder-path">
            <input type="hidden" id="prod_id">
        </div>
    </div>
    <div class="row backup-step-2 result hidden">
        <div class="col-sm-12 center">
            <img class="loadingGif" style="display:none;" src='{{ url_for("static", filename="images/Loading.gif") }}'>
            <h3 class="backup-ok hidden">Back up complete!</h3>
            <h3 class="backup-ko hidden warning-msg">Error making back up!</h3>
            <p class="backup-ok hidden">You should restart the tablet now</p>
            <p class="backup-ko hidden">Restart the tablet and try again. If the error persists, contact DWS.</p>
            <a href="/screen1?option=restart" type="button" class="btn btn-success backup-ok hidden">Restart app</a>
            <a href="/screen1?option=restart" type="button" class="btn btn-danger backup-ko hidden">Restart app</a>
        </div>

    </div>
{% endif %}
{% endblock %}

{% block javascript %}
    <style>
    html, body {
        overflow: auto !important;
    }
    .header {
        margin-bottom: 0px;
    }
    .table>tbody>tr>td {
        vertical-align: middle;
    }
    .center{
        text-align: center;
    }
    .backup-step-2 p#selected_product, .backup-step-2 p#selected_date{
        font-weight: 900;
    }
    </style>
{% endblock %}
