<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/font-awesome.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/keyboard.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='/customStatic/custom.css?v={{staticversion}}'>
    <script>var app_lang = '{{literals["lang_code"]}}';</script>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery.keyboard.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/functionalities.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/canvas.js") }}?v={{staticversion}}'></script>
</head>
<body>

{% if result %}
    <form action="/screen1" method="POST" autocomplete="off">
        <h2>Result: {{result["result"]}}</h2>

        <h3>{{result["msg"]}}</h3>
        <h3>{{result["errorInstr"]}}</h3>

        <input type="submit" value="Back to start">

{% else %}

    <form action="/createProduct" method="POST"  onsubmit="return validateCreateProductForm()" autocomplete="off">

        <h2>Create a new product</h2>

        <h3>Product parameters</h3>
        <p>Considerations:</p>
        <ul>
            <li>The Product ID is the name of the folder: NO SPACES AND NO SPECIAL CHARCATERS</li>
            <li>Try to always assign a product to a category</li>
            <li>Always check if the new product can be set to an existing category</li>
        </ul>

        <!-- Product parameters table -->
        <table id="table-product-1">
          <tr>
            <th>Input name</th>
            <th>Input value</th>
          </tr>
          <tr>
            <td class="prod-title" colspan="2">PRODUCT DATA</td>
          </tr>
            {% for param in prod_params%}
              <tr>
                  {% set def_name = "Parameter "+loop.index|string     %}
                <td class='{{param["class"]}}'>{{param["td_text"] if show_names else def_name}}</td>
                <td><input type="text" value='{{param["default_value"]}}' name='{{param["name"]}}'
                           placeholder='{{param["placeholder"] if show_names}}' pattern='{{param["pattern"] if param["pattern"] else "*"}}' {{param["class"]}}></td>
              </tr>
            {% endfor %}
        </table>



        <input type="submit" value="Submit">

    </form>


{% endif %}


</body>





<script>
</script>

<style>
h1, h2, h3, p{
    margin: 10px;
}

p{
    font-size: initial;
}

.required{
    font-weight: 900;
}

input, button{
    margin: 5px;
    width: 95%;
}

table{
    margin-left: 10px;
}

td{
    min-width: 300px;
}

body{
    overflow: initial;
}

input[type=submit]{
    margin-top: 50px;
    margin-bottom: 50px;
}

button, table{
    margin-top: 10px;
    margin-bottom: 10px;
}

td.prod-title{
    padding: 5px;
    font-weight: bold;
    font-size: x-large;
}
</style>
