<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/font-awesome.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/keyboard.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='/customStatic/custom.css?v={{staticversion}}'>
    <script>var app_lang = '{{literals["lang_code"]}}';</script>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery.keyboard.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/functionalities.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/canvas.js") }}?v={{staticversion}}'></script>
</head>
<body>

{% if result %}
    <form action="/screen1" method="POST" autocomplete="off">
        <h2>Result: {{result["result"]}}</h2>

        <h3>{{result["msg"]}}</h3>
        <h3>{{result["errorInstr"]}}</h3>

        <input type="submit" value="Back to start">
    </form>
    <form action="/createCollection" method="POST" autocomplete="off">
        <input type="submit" value="Create another collection">
    </form>


{% else %}

    <form action="/createCollection" method="POST"  onsubmit="return validateCreateCollectionForm()" autocomplete="off">

        <h1>Create collection</h1>
        <p>In bold mandatory items</p>
        <h2>Collection parameters</h2>
        <p>Considerations:</p>
        <ul>
            <li>The name of the folder is created as: &lt;Brand ID&gt;_&lt;Shop ID&gt;</li>
            <li>The Brand ID and Shop ID should exist on the server. Otherwise this creation will fail.</li>
        </ul>
        <!-- Collection parameters table -->
        <table>
          <tr>
            <th>Input name</th>
            <th>Input value</th>
          </tr>
            {% for param in col_params%}
              <tr>
                <td class='{{param["class"]}}'>{{param["td_text"]}}</td>
                <td><input type="text"  value='{{param.get("default_value")}}' name='{{param["name"]}}'
                           placeholder='{{param["placeholder"]}}' pattern='{{param["pattern"] if param["pattern"] else ""}}' {{param["class"]}}></td>
              </tr>
            {% endfor %}
              <tr>
                <td class='required'>List of products</td>
                  <td><textarea name='products_structure' placeholder='' required></textarea></td>
              </tr>
        </table>
        <input type="submit" value="Submit">

    </form>



{% endif %}
</body>

<style>
h1, h2, h3, p{
    margin: 10px;
}

p{
    font-size: initial;
}

.required{
    font-weight: 900;
}

input, button{
    margin: 5px;
    width: 95%;
}

table{
    margin-left: 10px;
}

td{
    min-width: 300px;
}

body{
    overflow: initial;
}

input[type=submit]{
    margin-top: 50px;
    margin-bottom: 50px;
}

button, table{
    margin-top: 10px;
    margin-bottom: 10px;
}

td.prod-title{
    padding: 5px;
    font-weight: bold;
    font-size: x-large;
}

textarea {
    width: 92%;
    font-size: inherit;
}
</style>
