{% extends 'layout.html'%}

{% block formstart %}
<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/ecommerce.css") }}?v={{staticversion}}'>
<div id="VirtualKeyboardIME_e-engraving" class="ZH" style=""></div>
<input id="search-e-engraving" type="text" class="hidden" spellcheck="false">
<form action="/screen2" method="POST" id="ecommerce1Form">
    <input type="hidden" class="hidden" name="product" value="">
    <input type="hidden" class="hidden" name="clientProdName" value="">
    <input type="hidden" class="hidden" name="clientProductId" value="">
    <input type="hidden" class="hidden" name="clientOrderId" value="">
    <input type="hidden" class="hidden" name="font" value="">
    <input type="hidden" class="hidden" name="textToEngrave" value="">
    <input type="hidden" class="hidden" name="ts" value="">
    <input type="hidden" class="hidden" name="color" value="">
    <input type="hidden" class="hidden" name="position" value="">
    {% endblock %}
    {% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="tableFixHead">
                <table id="e-engravings-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>{{literals["ecommerce1_table_dws_prod_name"]}}</th>
                            <th>{{literals["ecommerce1_table_dws_prod_id"]}}</th>
                            <th>{{literals["ecommerce1_table_order_id"]}}</th>
                            <!-- <th>{{literals["ecommerce1_table_product"]}}</th> -->
                            <th>{{literals["ecommerce1_table_store_id"]}}</th>
                            <th>{{literals["ecommerce1_table_action"]}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for eng in pee %}
                    <tr class='{{ eng["clientOrderId"] }} {{ eng["ts"] }}'>
                        <td>{{ eng["date"] }}</td>
                        <td>{{ eng["clientProdName"] }}</td>
                        <td>{{ eng["clientProductId"] }}</td>
                        <td>{{ eng["clientOrderId"] }}</td>
                        <td>{{eng["idStore"]}}</td>
                        <td class="center">
                            <button class="btn btn-default" type="button" onclick="loadEEngraving({{ eng['ts'] }})">
                                {{ literals["ecommerce1_table_launch"] }}
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block formend %}
</form>
{% endblock %}

{% block javascript %}
<script>
{% if debug_mode != "True" %}
    stopLaser();
{% endif %}

var pee = {{ pee | tojson }};

var test = pee.filter((el) => el.engraved==='true');
{% if screen_saver_time %}
    console.log("screen_saver_time:",{{screen_saver_time}})
    setupTimersForInactivity({{screen_saver_time}}*1000);
{% endif %}
</script>
{% endblock %}
