<!DOCTYPE html>
<html lang="en">

<head>
    <title>DWS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css"
        href='{{ url_for("static", filename="css/fixLiterals.css") }}?v={{staticversion}}'>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/fixLiterals.js") }}'></script>
    <style>

    </style>




</head>

<body>
<div class="container">
    <div class="haut row">
        <div class="col-md-2 col-xs-2 col-sm-2 img-container">
            <img id="logo-Lit" type="image" src='{{ url_for("static", filename="images/LOGO_transparent.png") }}' />
        </div>
        <div class="col-md-8 col-xs-8 col-sm-8">
            <h1>
                <center>Modify and add literals</center>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Select the language you want to check:</p>
            <p><strong>If language is in red, it has missing texts</strong></p>
            <ul>
                {% for key in main_dict %}
                {% if key != originalFile %}
                <li>
                    <label for="label-{{key}}">{{key}}</label>
                    <input type="checkbox" value='{{key | replace(".","_") }}' class="" id="label-{{key}}" name="label-{{key}}">
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="milieu row">

            <form action="/FixLiterals" method="POST" id="FixLiteralsForm">
                <div class="fixed col-md-12">
                    {% for key in main_dict %}
                    {% if key == originalFile %}
                    <table id="Fix-table-original" class="table table-striped">
                        <thead>
                            <th class="cell">Literal ID</th>
                            <th class="cell">{{key}}</th>

                                {% for key in main_dict %}
                                {% if key != originalFile %}
                                <th class='cell {{key | replace(".","_") }}'>{{key}}</th>
                                {% endif %}
                                {% endfor %}
                        </thead>
                        <tbody>

                            {% for key2 in main_dict.get(originalFile) %}
                            <tr>
                                {% for key in main_dict %}
                                {% if key == originalFile %}
                                <td class="cell">{{key2}}</td>
                                <td class="cell">{{main_dict.get(key).get(key2)}}</td>
                                {% endif %}
                                {% endfor %}

                                {% for key in main_dict %}
                                {% if key != originalFile %}
                                {% if main_dict.get(key).get(key2) == None %}
                                <td class='cell {{key | replace(".","_") }} fill-input'>
                                    <input type="text" name="{{key}}+{{key2}}" minlength="1"
                                        maxlength="500" size="100" placeholder="Write your traduction here">
                                </td>
                                {% else %}
                                <td class='cell {{key | replace(".","_") }}'>{{main_dict.get(key).get(key2)}}</td>
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% endfor %}
                </div>

            </form>

    </div>
    <div class="bas row">
        <div class="col-md-12">
            <center>
                <input id="FixliteralsButton" type="submit" value="SEND " form="FixLiteralsForm" name="send_button">
            </center>
        </div>
    </div>
</div>

</body>

</html>