<html>
<head>
  <title>pylint result</title>
    <style>
    .green{
        color: green;
        }
    .red{
        color: red;
        }
    </style>
</head>

<body>
<table colspan="2">
    <thead>
        <th> Module </th>
        <th> Result </th>
    </thead>

    <tbody>
    {% for key in result_dict%}
        {% if result_dict[key] >= 5 %} <tr class="green"> {% else %} <tr class="red">  {% endif %}
                <td>{{key}}</td>
                <td>{{result_dict[key]}}</td>
            </tr>
        </tr>
    {% endfor %}
    </tbody>

</table>

</body>

</html>