<!DOCTYPE html>
<html lang="en">
<head>
    <title>DWS</title>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
    <link rel="icon" type="image/png" href="/customStatic/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="dummy-text-for-fonts" style="font-family: engravingFont;">.</div>

    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="WebsiteTour/css/style.css") }}?v={{staticversion}}'>


    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/font-awesome.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/keyboard.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='/customStatic/custom.css?v={{staticversion}}'>
    <script>var app_lang = '{{literals["lang_code"]}}';</script>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery.keyboard.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/functionalities.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/canvas.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/ecommerce.js") }}?v={{staticversion}}'></script>
    <script src='/customStatic/custom.js?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/keyboard.configuration.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/chinese-pynsimpl.js") }}?v={{staticversion}}'></script>


    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="WebsiteTour/css/jquerytour.css") }}?v={{staticversion}}'>
    <script src='{{ url_for("static", filename="js/training.js") }}?v={{staticversion}}'></script>


    <style>
        .background-img {
            background-image: url("/customStatic/images/Background_screen_1.jpg?v={{staticversion}}");
        }
        #screen-saver-img {
            background-image: url("/customStatic/images/screen_saver.jpg?v={{staticversion}}");
        }

        {% if debug_mode != "True" %}
            html, body, body button, body img, body input, body textarea, body a, body div {
                cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
                url(images/blank.cur),
                none!important;
            }
        {% endif %}

    </style>


<!-- LOGO_transparent.png -->
<!-- Background_screen_1hennessy.jpg -->
</head>
<body>
    <div id="tourcontrols" class="tourcontrols" style="right: 30px;display:none;">
        <p>{{literals["training_engraving_title"]}}</p>
        <div class="nav">
            <span class="btn btn-default left" id="prevstep" style="display:none;">&lt; {{literals["training_engraving_previous"]}}</span>
            <span class="btn btn-default right" id="nextstep" style="">{{literals["training_engraving_next"]}} &gt;</span>
            <span class="btn btn-default right" id="endtour" style="display:none;">{{literals["training_engraving_finish"]}}</span>
        </div>
        <a id="restarttour" style="display:none;">Restart the screen</a>
        <span class="close" style="display:none;" id="canceltour"></span>
    </div>
<div id="background-img" class="">
    <div id="header" class="header">
        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2" id="goBack" style="">
                <input class="tour_1_2" onclick="turnOffRaspberry()" id="logo" type="image" src='/customStatic/images//LOGO_transparent.png' />
            </div>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <h1 class="hidden menu tour_2_1 tour_3_1 tour_4_1">{{literals["label1_Allscreen"]}}</h1>
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2" id="goForward" style="">
                <!-- Change language in in-store mode -->
                <select id="selectLangBox" class="btn btn-default select-lang" data-placeholder="Lang"
                        style="margin-top: 18px;margin-left: -20%;display:none;" onchange="changeLang();">
                    <option value="" disabled selected style="display:none;">{{literals["screen1_restart_modal_change_lang"]}}</option>
                        {% for key in langlist %}
                            <option value="{{key}}">{{langlist[key]}}</option>
                        {% endfor %}
                </select>
                <!-- Search button for e-commerce mode -->
                <button class="btn btn-default show-ecommerce" type="button" onclick="openEEngravingKeyboard();">
                    Search
                </button>
                <!-- Search button for e-commerce mode -->
                <button class="btn btn-default show-ecommerce" type="button" onclick="reload_ecom();">
                    Update
                </button>
                 <!--<button class="btn btn-default show-ecommerce" id="engraved_data" href="{{url_for('web.views.ecommerce1.show_engraved')}}">See engraved Products</button>-->
                <!-- Display a rectangle in screen 2 and 3 if we are in admin mode -->
                <button class="btn btn-default adminPassOk {{ 'hidden' if not ama }}" type="button" disabled>
                    ADMIN
                </button>
            </div>
        </div>
    </div>
<div class="container-fluid">
    {% block formstart %}
    {% endblock %}
                        <input type="hidden" name="password-type" value="">
                        <input type="hidden" name="traineeID" value="{{traineeID}}">
                        <input type="hidden" name="engravingTrainingDuration" value="{{engravingTrainingDuration}}">
    {% block content %}
    {% endblock %}
    {% block formend %}
    {% endblock %}
    <button id="modalButtonTurnOff" type="button" class="hidden btn btn-info btn-lg" data-toggle="modal"
            data-target="#myModalTurnOff">Open Modal
    </button>
    <div class="modal fade" id="myModalTurnOff" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <button type="button" class="hidden close" data-dismiss="modal">&times;</button>
                        <div class=col-xs-1>
                            <!-- My Circle bilinking -->
                            <span id="healthCheckCircle" class="circle redBlinking" ></span>
                        </div>
                        <div class=col-xs-6>
                            <h4 class="modal-title">{{literals["screen1_restart_modal_title"]}}</h4>
                        {% if debug_mode == "True" %}
                            <h4 class="modal-title warning-msg">DEBUG MODE ACTIVE</h4>
                        {% endif %}
                        </div>
                        <div class=col-xs-5>
                            <h4 class="modal-title" id="IpAndVersionId" style="float:right">V{{VersionAndIp}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="warning-msg" style="font-size: 28px;">{{literals["screen1_restart_modal_text"]}}</h1>
                            <h1 class="system-update hidden" style="font-size: 28px;">{{literals["screen1_restart_modal_text_system_update"]}}</h1>
                            <h1 class="loadingGif" style="font-size: 28px;display:none;"></h1>
                             <input id="password" type="password" class="password-admin hidden" spellcheck="false">
                            <textarea id="feedBackMessage" class="contact-form hidden" name="feedBackMessage" placeholder='{{literals["screen2_placeholder_contact"]}}' spellcheck="false"></textarea>
                            <h4 id="youCanClickSend" class="contact-form hidden">{{literals["screen1_youCanClickSend_feedBackMessage"]}}</h4>
                            <h4 id="SuccessSendFeedBack" class="contact-form hidden">{{literals["screen1_SuccessSendFeedBack"]}}</h4>
                            <h4 id="504ErrorFeedBack" class="contact-form hidden">{{literals["screen1_504ErrorFeedBack"]}}</h4>
                            <h4 id="404ErrorFeedBack" class="contact-form hidden">{{literals["screen1_404ErrorFeedBack"]}}</h4>
                            <h4 id="ServerProblemFeedBack" class="contact-form hidden">{{literals["screen1_ServerProblemFeedBack"]}}</h4>
                            <h4 id="TextClickContactMessage" class="contact-form hidden">{{literals["screen1_ClickContactMessage"]}}</h4>
                            <h4 class="hidden adminPassOk">{{literals["screen1_modal_admin_pass_ok"]}}</h4>
                            <div id="VirtualKeyboardIME_password" class="ZH" style="left: -410px;top: -1px;"></div>
                            <img class="loadingGif" style="display:none;" src='{{ url_for("static", filename="images/Loading.gif") }}'
                                 alt="Loading...">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row system-update-result hidden">
                        <div class="col-sm-12">
                            <p id="system-update-result"></p>
                            <p id="system-update-result-error" class="warning-msg hidden">{{literals["system_update_999_message"]}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer tour_1_4">
                    <div class="modal-footer-row">
                        <ul class="dropdown-menu select-lang">
                            {% for key in langlist %}
                            <li>
                                <a onclick="changeToLang('{{key}}')">
                                    {{langlist[key]}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <button class="btn btn-default select-lang dropdown-toggle admin-pop-up-1" type="button" data-toggle="dropdown">
                            {{literals["screen1_restart_modal_change_lang"]}}
                            <span class="caret"></span>
                        </button>
                        <a type="button" class="btn btn-default left admin-pop-up-1" onclick="enableSystemUpdate(true);">{{literals["screen1_restart_modal_system_updates"]}}</a>
                        {% if awm %}
                            <button class="btn btn-default left admin-pop-up-1" type="button" onclick="openPassKeyboard('switchModes')">
                                {{literals["screen1_restart_modal_load_e_commerce_mode"]}}
                            </button>
                            <button class="btn btn-default left show-ecommerce admin-pop-up-1" type="button" onclick="openPassKeyboard('activateAdminMode')">
                                {{literals["screen1_restart_modal_load_e_commerce_admin_mode"]}}
                            </button>
                        {% endif %}
                        <a type="button" class="btn btn-default tour_1_6 admin-pop-up-1" onclick="showShutdownGif('{{literals["screen1_restart_modal_restarting"]}}')"
                            href="/screen1?option=restart">{{literals["screen1_restart_modal_restart"]}}</a>
                        <a type="button" class="btn btn-default tour_1_7 admin-pop-up-1" onclick="showShutdownGif('{{literals["screen1_restart_modal_shutting_down"]}}')"
                            href="/screen1?option=shutdown">{{literals["screen1_restart_modal_shutdown"]}}</a>
                        <a type="button" class="btn btn-default system-update hidden left" onclick="enableSystemUpdate(false);">
                            {{literals["screen1_restart_modal_launch_system_update_back"]}}
                        </a>
                        <a type="button" class="btn btn-default left system-update hidden" href="/backUpPage">
                            {{literals["screen1_restart_modal_backup_system_update"]}}
                        </a>
                        <a type="button" class="btn btn-default system-update hidden" onclick="updateSystemCollection();">
                            {{literals["screen1_restart_modal_launch_system_update"]}}
                        </a>
                    </div>
                    <div class="modal-footer-row">
                        <a type="button" class="btn btn-default left admin-pop-up-1" href="/training">
                        {{literals["training_engraving_new_trainning"]}}
                        </a>
                        <a id="finish-training-btn" type="button admin-pop-up-1" class="btn btn-default left tour_1_5" href="/screen1?do_engraving_training=true&allowCloseModal=true">
                        {{literals["training_engraving_finish_training"]}}
                        </a>
                        {% if debug_mode == "True" %}
                            <a type="button" class="btn btn-default left admin-pop-up-1" href="prepareForInstallation">Install app</a>
                        {% endif %}
                        <a type="button" class="btn btn-default admin-pop-up-1" onclick="openPassKeyboard('closeApp');">{{literals["screen1_restart_modal_close_app"]}}</a>
                        <a type="button" class="btn btn-default left contact-form hidden" onclick="enableFeedback(false)">
                            {{literals["screen1_restart_modal_contact_back"]}}
                        </a>

                        <a type="button" id="ButtonContactDWS" class="btn btn-default admin-pop-up-1" onclick="enableFeedback(true)">
                            {{literals["screen1_restart_modal_contact_DWS"]}}
                        </a>
                        <a type="button" id="ButtonContactWriteMessage" class="contact-form hidden btn btn-default" onclick="openfeedBackKeyboard() ;">
                            {{literals["screen1_restart_modal_contact"]}}
                        </a>
                        <button type="button" id="sendFeedBack" class="contact-form hidden btn btn-default" onclick="sendFeedBackMessage();" disabled>
                            {{literals["screen1_restart_modal_sendfeedBack"]}}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

{% if debug_mode != "True" %}
    document.addEventListener('contextmenu', event => event.preventDefault());
{% endif %}
// Time for user inactivity used by default for screen saver
var timeoutInMiliseconds = 60000;
    $( document ).ready(function() {
        switch(window.location.pathname) {
            case "/screen1":
                $('h1.menu').html("{{literals["label1_Allscreen"]}}");
                $('h1.menu').removeClass("hidden");
                $('h1.menu').addClass("screen1");
                $('#background-img').addClass("background-img");
                break;
            case "/screen2":
                $('h1.menu').html("{{literals["label2_Allscreen"]}}");
                $('h1.menu').removeClass("hidden");
                $('h1.menu').addClass("screen2");
                break;
            case "/screen3":
                $('h1.menu').html("{{literals["label3_Allscreen"]}}");
                $('h1.menu').removeClass("hidden");
                $('h1.menu').addClass("screen3");
                break;
            case "/backUpPage":
                $('h1.menu').html("{{literals["label4_Allscreen"]}}");
                $('h1.menu').removeClass("hidden");
                $('h1.menu').addClass("backUpPage");
                break;
            case "/ecommerce1":
                $('h1.menu').html("{{literals["label1_ecommerce_Allscreen"]}}");
                $('h1.menu').removeClass("hidden");
                $('h1.menu').addClass("ecommerce1");
                break;
        }
    });

</script>
{% if errorcode and errorcode | length %}
<!-- Errors Modal -->
<button id="modalButtonError" type="button" class="hidden btn btn-info btn-lg" data-toggle="modal"
        data-target="#myModalError">Open Modal
</button>
<div class="modal fade" id="myModalError" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="hidden close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{literals["Allscreen_errorcode"]}} {{errorcode}}</h4>
            </div>
            <div class="modal-body">
                <p class="finishText">{{literals["Allscreen_errorinstructions"]}}</p>
                {% if errorIntrs %}
                    {% for instruction in errorIntrs %}
                        <div id="modal-instruction-{{loop.index-1}}" class="modal-instruction" {{'style=display:none' if loop.index != 1}}>
                            <p class="finishText">
                                <p>{{loop.index}}) {{instruction}}</p>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default prev-step-error">Previous step</a>

                <a type="button" class="btn btn-default tour_1_6" onclick="showShutdownGif('{{literals["screen1_restart_modal_restarting"]}}')"
                    href="/screen1?option=restart">{{literals["screen1_restart_modal_restart"]}}</a>
                <a type="button" class="btn btn-default tour_1_7" onclick="showShutdownGif('{{literals["screen1_restart_modal_shutting_down"]}}')"
                    href="/screen1?option=shutdown">{{literals["screen1_restart_modal_shutdown"]}}</a>

                <a type="button" class="btn btn-default next-step-error">{{literals["screen1_restart_modal_error_next"]}}</a>
                {% if awm %}
                    <button class="btn btn-default back-to-start-button" type="button" onclick="openPassKeyboard('switchModes')">
                        {{literals["screen1_restart_modal_load_e_commerce_mode"]}}
                    </button>
                {% endif %}

                <a type="button" class="btn btn-default back-to-start-button"
                   href="/screen1">{{literals["Allscreen_errorbutton"]}}</a>
            </div>
        </div>

    </div>
</div>
<script>
    $( document ).ready(function() {
        $('#modalButtonError').click();
    });
</script>
{% endif %}














{% if do_engraving_training %}

<!-- Trainees modal -->
    <button id="modalButtonTrainees" type="button" class="hidden btn btn-info btn-lg hidden" data-toggle="modal"
            data-target="#myModalTrainees">Open Modal
    </button>

    <div class="modal fade" id="myModalTrainees" role="dialog" {{ 'data-backdrop=static' if not allowCloseModal else ''}}>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="hidden close" data-dismiss="modal">&times;</button>
                    <div class=col-xs-12>
                        <h4 class="modal-title">{{literals["training_engraving_modal_title"]}}</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <h4 class="">{{literals["training_engraving_modal_info"]}}</h4>
                    <div class="tableFixHead">
                        <table>
                            <thead>
                                <tr>
                                    <th>{{literals["training_engraving_modal_name"]}}</th>
                                    <th>{{literals["training_engraving_modal_surname"]}}</th>
                                    <th>{{literals["training_engraving_modal_gt"]}}</th>
                                    <th>{{literals["training_engraving_modal_et"]}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trainee in trainees %}
                                <tr>
                                    <td>
                                        <input type="radio" id="{{trainee.userId}}" name="traineeSelected" value="{{trainee.userId}}">
                                        <label for="{{trainee.userId}}">
                                        {{trainee.firstName}}
                                        </label>
                                    </td>
                                    <td>{{trainee.lastName}}</td>
                                    <td class="training-status">{{ '✅' if trainee.generalTraining else '❌' }}
                                        <img style="display:none;" src="/customStatic/images/cross-icon.svg"/>
                                    </td>
                                    <td>{{ '✅' if trainee.engravingTraining else '❌' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="confirm-trainee" type="button" class="btn btn-default hidden" data-dismiss="modal" onclick="setInitEngravingTraining()">
                        {{literals["training_engraving_modal_confirm"]}}
                    </a>
                </div>
            </div>

        </div>
    </div>


<script>
    $( document ).ready(function() {
        $('#modalButtonTrainees').click();
        // Logic for radio buttons to select trainee
        $('input[type=radio][name=traineeSelected]').change(function() {
            $('input[name$="traineeID"]').val(this.value);
            $("#confirm-trainee").removeClass("hidden");
        });
    });

</script>
{% endif %}




















</div>
<div id="screen-saver-img" class="background-img" style="display:none;">
    <div class="row" style="padding-top: 320px;font-size: 10px;">
        <div class="col-md-4 col-xs-4 col-sm-4"></div>
        <div class="col-md-2 col-xs-2 col-sm-2 lang" onclick="changeToLang('_fr_fr')">FRANÇAIS</div>
        <div class="col-md-2 col-xs-2 col-sm-2 lang center-lang" onclick="changeToLang('')">ENGLISH</div>
        <div class="col-md-2 col-xs-2 col-sm-2 lang" onclick="changeToLang('_chi')">CHINESE</div>
        <div class="col-md-3 col-xs-3 col-sm-3"></div>
    </div>
</div>
</body>
{% block javascript %}
{% endblock %}
</html>
