<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/font-awesome.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/keyboard.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='/customStatic/custom.css?v={{staticversion}}'>
    <script>var app_lang = '{{literals["lang_code"]}}';</script>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery.keyboard.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/functionalities.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/canvas.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/prepareForInstallation.js") }}?v={{staticversion}}'></script>
</head>
<body>

{% if result %}
        <h2>Result: {{result["result"]}}</h2>

        <h3>{{result["msg"]}}</h3>
        <h3>{{result["errorInstr"]}}</h3>
        <h3>{{result["errors"]}}</h3>

        <a class="btn btn-primary" href="/screen1?option=restart">Restart tablet</a>
        <a class="btn btn-primary" href="/screen1?option=shutdown">Shutdown tablet</a>


{% else %}

    <form action="/prepareForInstallation" method="POST" autocomplete="off">

        <h2>Prepare app for installaton</h2>
        <p>Select the actions you want to take.</p>
        <p>The options that have a value can be modified by clicking the + and - icons.</p>
        <p>But the values will not be updated unless the checkbox is selected.</p>
        <p>The changes will be applied to the following collection</p>
        <ul>
            <li>Collection name: <strong>{{col}}</strong></li>
            <li>Brand ID: <strong>{{brand_id}}</strong></li>
            <li>Shop ID: <strong>{{shop_id}}</strong></li>
        </ul>
        <div class="container">
            <h3>Options:</h3>
            <div class="row">
                <input type="hidden" id="prepare_installation" name="prepare_installation" value="True">
                <!-- Debug mode -->
                <input type="checkbox" id="debug_mode" name="debug_mode" value="True" checked>
                <label class="black" for="debug_mode">Change debug mode to False</label><br>
                <!-- Ratings file -->
                <input type="checkbox" id="ratings_file" name="ratings_file" value="True" checked>
                <label class="black" for="ratings_file">Delete ratings.csv file for collection</label><br>
                <!-- Failed requests -->
                <input type="checkbox" id="failed_requests" name="failed_requests" value="True" checked>
                <label class="black" for="failed_requests">Delete failedRequests.txt file for collection</label><br>
                <!-- Trainees file -->
                <input type="checkbox" id="trainees_file" name="trainees_file" value="True" checked>
                <label class="black" for="trainees_file">Delete trainees.json file for collection</label><br>
                <!-- Log file -->
                <input type="checkbox" id="log_file" name="log_file" value="True" checked>
                <label class="black" for="log_file">Delete old app.log files</label><br>
                <!-- laser conf file -->
                <input type="checkbox" id="laser_conf_file" name="laser_conf_file" value="True" checked>
                <label class="black" for="laser_conf_file">Delete old laserConf.properties files</label><br>
                <!-- Html static version -->
                <input type="checkbox" id="html_static" name="html_static" value="True" checked>
                <label class="black" for="html_static">Change html static version</label><br>
                <!-- Create first backup for app -->
                <input type="checkbox" id="first_backup" name="first_backup" value="True" checked>
                <label class="black" for="first_backup">Create first backup for app</label><br>
                <!-- Create first backup for app -->
                <input type="checkbox" id="force_training_mode" name="force_training_mode" value="True">
                <label class="black" for="force_training_mode">Force training mode (check the box if you want to force it)</label><br>
            </div>
            <h3 class="hidden">Laser configuration:</h3>
            <div class="row hidden">
                <!-- Laser rotation -->
                <input type="checkbox" id="laser_rotation" name="laser_rotation" value="True">
                <label class="black" for="laser_rotation">Change laser rotation</label>
                <label for="laser_rotation_value">Current value:</label>
                <img src='{{ url_for("static", filename="images/minus.png") }}' id="laser_rotation_value_minus"
                     width="20" height="20" class="minus"/>
                <input class="no-spinners" id="laser_rotation_value" name="laser_rotation_value"
                       type="float" value="{{rot_c}}" dif="0.1" fixed="1">
                <img id="laser_rotation_value_add" src='{{ url_for("static", filename="images/plus.png") }}'
                     width="20" height="20" class="add"/><br>
                <!-- Laser telnet response -->
                <input type="checkbox" id="laserInterlock"  name="laserInterlock" value="True">
                <label class="black" for="laserInterlock">Change laser telnet for interlock</label>
                <label for="laserInterlock">Current value: <b>0:</b></label>
                <img src='{{ url_for("static", filename="images/minus.png") }}' id="laserInterlock_value_minus"
                     width="20" height="20" class="minus"/>
                <input class="no-spinners" id="laserInterlock_value" name="laserInterlock_value"
                       type="number" value="{{liv}}" dif="1" fixed="0">
                <img id="laserInterlock_value_add" src='{{ url_for("static", filename="images/plus.png") }}'
                     width="20" height="20" class="add"/><br>
                <!-- Laser height from base -->
                <input type="checkbox" id="laser_height_from_base" name="laser_height_from_base" value="True">
                <label class="black" for="laser_height_from_base">Change laser height from base</label>
                <label for="laser_height_from_base_value">Current value:</label>
                <img src='{{ url_for("static", filename="images/minus.png") }}' id="laser_height_from_base_value_minus"
                     width="20" height="20" class="minus"/>
                <input class="no-spinners" id="laser_height_from_base_value" name="laser_height_from_base_value"
                       type="number" value="{{lhfb}}" dif="1" fixed="0">
                <img id="laser_height_from_base_value_add" src='{{ url_for("static", filename="images/plus.png") }}'
                     width="20" height="20" class="add"/><br>
                <!-- Focal distance -->
                <input type="checkbox" id="focal_distance" name="focal_distance" value="True">
                <label class="black" for="focal_distance">Change laser focal distance</label>
                <label for="focal_distance_value">Current value:</label>
                <img src='{{ url_for("static", filename="images/minus.png") }}' id="focal_distance_value_minus"
                     width="20" height="20" class="minus"/>
                    <input class="no-spinners" id="focal_distance_value" name="focal_distance_value"
                           type="number" value="{{f_d}}" dif="1" fixed="0">
                <img id="focal_distance_value_add" src='{{ url_for("static", filename="images/plus.png") }}'
                     width="20" height="20" class="add"/><br>




            </div>
            <div class="row right">
                <a type="button" class="btn btn-default left" href="/screen1">Go back to screen 1</a>
                <input class="btn btn-default" type="submit" value="Apply changes">
            </div>
        </div>
    </form>



{% endif %}
</body>

<style>
h1, h2, h3, p{
    margin: 10px;
}

p{
    margin-top: 2px;
    margin-bottom: 2px;
}

p{
    font-size: initial;
}

.required{
    font-weight: 900;
}

html, body{
    overflow: initial;
}

label{
    font-weight: initial;
}

label.black{
    font-weight: bold;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
    display: inline;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 20px;
    margin-right: 18px;
}

.right{
    text-align: right;
}

</style>
