{% extends 'layout.html'%}

{% block formstart %}
<form action="/screen2" method="POST" id="screen1Form">
    {% endblock %}
    {% block content %}
    <!-- before: "height: {{ '50' if dict_products|length > 4 else '60' }}vh;" -->
    <div id="screen1-separator" class="tour_1_3">
    </div>
    <div class="row productRow tour_1_0 tour_1_1 tour_1_8">
        <div class="col-sm-1" id="backCategories" style="display:none;">
            <button class='btn-default buttonDWS-prod-selection back-button-categories' type="button" onclick="backToCategory()">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
                    <path d="M 10.59375 13 L 19.179688 4.234375 C 19.5625 3.84375 19.558594 3.21875 19.171875 2.828125
                    L 17.636719 1.292969 C 17.242188 0.902344 16.609375 0.902344 16.21875 1.296875 L 5.292969 12.292969
                    C 5.097656 12.488281 5 12.742188 5 13 C 5 13.257813 5.097656 13.511719 5.292969 13.707031
                    L 16.21875 24.703125 C 16.609375 25.097656 17.242188 25.097656 17.636719 24.707031
                    L 19.171875 23.171875 C 19.558594 22.78125 19.5625 22.15625 19.179688 21.765625 Z"
                          stroke="white" fill="black"></path>
                </svg>


            </button>
        </div>

        {% for category in dict_products%}
            <div class='{{category["class"]}} cat-selection' style='{{ "display:none;" if not show_categories }}'>
                <button class='btn-default buttonDWS-prod-selection {{category["button-class"]}}' type="button" onclick="showCategory({{ loop.index }})">
                    {{category["category"]}}
                </button>
            </div>
            <div class="cat-{{ loop.index }} prod-cat"  style='{{ "display:none;" if show_categories }}'>
                {% for elem in category["structure"]%}
                    {% if elem["subProducts"] == [] %}
                    {# Collection is a product #}
                        <div class='product-{{ loop.index }} {{elem["class"]}}' style="">
                            <button class='btn buttonDWS-prod-selection {{elem["button-class"]}}' name="product" type="submit" form="screen1Form" value='{{elem["folderName"]}}'>
                                {{elem["displayName"] | safe}}
                                {# if python 2.X {key.decode('utf-8')} #}
                            </button>
                        </div>
                    {% else %}
                    {# Collection has sub-products #}
                        <div class='product-{{ loop.index }} dropup {{elem["class"]}}'>
                            <button class="btn-default dropdown-toggle buttonDWS-prod-selection" type="button" data-toggle="dropdown">{{elem["displayName"] | safe}}
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu dropup-menu" style="background-color: #fff0;border: transparent;box-shadow: none;">
                                {% if elem["two-cols"] %}
                                    {% for product in elem["subProducts"]%}

                                        {% if loop.index % 2 != 0 %}
                                            <div class="two-cols-row m-3">
                                                {% if elem["subProducts"][loop.index] %}
                                                <button class='btn buttonDWS-prod-selection w-auto {{elem["subProducts"][loop.index]["class"]}}' name="product" type="submit" form="screen1Form" value='{{elem["subProducts"][loop.index]["folderName"]}}'>
                                                    {{elem["subProducts"][loop.index]["displayName"] | safe}}
                                                </button>
                                                {% endif %}

                                                {% if elem["subProducts"][loop.index + 1] %}
                                                <button class='btn buttonDWS-prod-selection w-auto {{elem["subProducts"][loop.index + 1]["class"]}}' name="product" type="submit" form="screen1Form" value='{{elem["subProducts"][loop.index + 1]["folderName"]}}'>
                                                {{elem["subProducts"][loop.index + 1]["displayName"] | safe}}
                                                </button>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for product in elem["subProducts"]%}
                                        <button class='btn buttonDWS-prod-selection {{product["class"]}}' name="product" type="submit" form="screen1Form" value='{{product["folderName"]}}'>
                                            {{product["displayName"] | safe}}
                                        </button>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endfor %}

    </div>
    {% endblock %}
    {% block formend %}
</form>
{% endblock %}

{% block javascript %}
<script>
stopLaser();
    $('.product').css("padding",(($( window ).height() - $('.header').height())/(3*$('.productRow').length))+"px 0");
    $( window ).resize(function() {
      $('.product').css("padding",(($( window ).height() - $('.header').height())/(3*$('.productRow').length))+"px 0");
    });

{% if screen_saver_time %}
    console.log("screen_saver_time:",{{screen_saver_time}})
    setupTimersForInactivity({{screen_saver_time}}*1000);
{% endif %}
{% if debug_mode == "False" and False %}
   if(!/errorcode/i.test(location.href)){
      // checkLaserIsON();
    }
 {% endif %}


</script>
{% endblock %}
