<script>
    var product_name = "{{product}}";
    function getEmojisForDefaultDWSCustom(num){
        var str = "";
        if(num == 1) str = "{{inputs["emojis"][0]}}";
        if(num == 2) str = "{{inputs["emojis"][1]}}";
        return str;
    }

</script>
{% extends 'layout.html'%}

{% block formstart %}
<div class="hidden">
inputs: {{inputs}}</br></br>
intermedios: {{intermedios}}</br></br>
</div>

<form action="/screen3" method="POST" id="screen2Form">
    <input type="hidden" name="product" value="{{product}}">
    <input type="hidden" name="pathimg" value="{{pathimg}}">
    <input type="hidden" name="color" value="{{color}}">
    <input type="hidden" name="position" value="{{position}}">
    <input type="hidden" id="pictogram" name="pictogram" value="{{pictogram}}">
    <input type="hidden" name="clientProductId" value="{{clientProductId}}">
    <input type="hidden" name="clientProdName" value="{{clientProdName}}">
    <input type="hidden" name="ts" value="{{ts}}">
    <input type="hidden" name="clientOrderId" value="{{clientOrderId}}">
    <input type="hidden" name="pinMode" value='{{font_list[0]["laserPin"]}}'>
    <input type="hidden" name="textColor" value='{{inputs["text_color"]}}'>
    <input type="hidden" name="font" value='{{font_list[0]["police"]}}'>
    <input type="hidden" name="keyboard" value='{{loaded_keyboard}}'>
    <input type="hidden" name="keyboardConf" value='{{loaded_keyboard_extra_conf}}'>
    <input type="hidden" name="base64img_process" value="">
    <input type="hidden" name="base64img_display" value="">
    {% endblock %}
    {% block content %}
    <div class="row tour_2_3">
        <div class="col-md-1 hidden-xs hidden-sm" style="text-align: center;">
            <p class="hidden">Select height position of the text:</p>
            <input class="hidden" name="slider-height" id="slider-height" type="range" min="10" max="90" value="50">
        </div>
        <div class="col-md-5 col-xs-6" style="text-align: center;">
            <div id="imgcontainer" class="">
                <div class="img-container tour_2_4">
                    <div class="redsquare rack moving-square" style='
                        bottom:{{intermedios["laserpoint"]}};
                        height:{{intermedios["squareheight"]}};'>
                        <canvas id="textCanvas" fixEngravingLocation='{{inputs["fix_engraving_location"]}}' class='red-border_ {{ product | replace("/", "") }}'></canvas>
                    </div>
                    <img class="product-img hidden" ratio='{{intermedios["ratio"]}}' id="productImage" src='/download{{pathimg}}'/>
                    <!-- TODO misma imagen para todos los propductos <img class="product-img hidden" ratio='{{intermedios["ratio"]}}' id="productImage" src='{{ url_for("static", filename="images/produit.png") }}'/> -->
                </div>
            </div>
        </div>
        <div id="right-panel" class="col-md-5 col-xs-6 tour_2_6" style="text-align: center;display:none;">
                <div class="dropdown col-sm-9 col-centered Hennessy-color-selector" style="display:none;">
                    <button id="button_change_type" class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">
                        {{literals["screen2_change_color"]}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Accessories colors -->
                            <div class="dot-color-container">
                                <p class="accessory insert-after"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            {% if e_commerce_active %}
                <p id="prodIdInfo">{{clientOrderId}} - {{clientProdName}} - {{volume}}</p>
            {% endif %}
            <textarea class="tour_2_2 tour_2_5 tour_2_9" required id="textToEngrave" name="textToEngrave"
                      placeholder='{{literals["screen2_placeholder"]}}' spellcheck="false"></textarea>
            <div id="VirtualKeyboardIME" class="ZH hidden" style="left: -398px;top: -60px;">
                <table><tbody>
                    <tr>
                        <td class="IMEControl"><div class="left"><!-- --></div></td>
                        <td class="IMEControl IMEContent">
                        <td class="IMEControl"><div class="right"><!-- --></div></td>
                    </td>
                </tr>
                <tr>
                    <td class="IMEControl IMEInfo" colspan="3">
                        <div class="showAll">
                            <div class="IMEPageCounter"></div>
                            <div class="arrow"></div>
                        </div>
                    </td>
                </tr>
                </tbody></table>
            </div>
            <div class="button-predef-container">
                <!-- Print different logos (not working)-->
                <div class="logo-buttons-container hidden">
                   <button type="button" onclick="printLogo('/customStatic/images/logos/davinci2.png', 'daVinci')" class="buttonDWS predef-text">Da Vinci</button>
                   <button type="button" onclick="printLogo('/customStatic/images/logos/dws.png', 'dws')" class="buttonDWS predef-text hidden">DWS</button>
                   <button type="button" onclick="printLogo('/customStatic/images/logos/neymar_cropped.png', 'dws')" class="buttonDWS predef-text">neymar</button>
                   <button type="button" onclick="printLogo('/customStatic/images/logos/images.jpg', 'helicopter')" class="buttonDWS predef-text">Helicoptero</button>
                </div>
                <!-- change font size BUTTONS (not working)-->
                <div class="hidden">
                   <button type="button" onclick="changeFontSize(0.5)" class="buttonDWS predef-text">Small</button>
                   <button type="button" onclick="changeFontSize(1)" class="buttonDWS predef-text">Normal</button>
                   <button type="button" onclick="changeFontSize(1.5)" class="buttonDWS predef-text">Big</button>
                </div>
                <!-- PREDEF TEXT BUTTONS -->
                <div class="predef-buttons-container hidden">
                   <button type="button" onclick="writePredefVal('新年快乐')" class="buttonDWS predef-text">新年快乐</button>
                   <button type="button" onclick="writePredefVal('恭贺新禧\n鼠年吉祥')" class="buttonDWS predef-text">恭贺新禧<br>鼠年吉祥</button>
                   <button type="button" onclick="printLogo('/customStatic/images/qrmh.png', 'QR')" class="buttonDWS predef-text">QR code</button>
                </div>
                <div class="font-selector-buttons-container row-centered">
                   <button type="button" onclick="changeFontSize(0.7)" class="buttonDWS change-font-size small hidden"  >
                       <span class="change-font-size big" style="color:black">A</span>
                       <span style="vertical-align: super;">A</span>
                       <span class="change-font-size big" style="color:black">A</span></button>
                   <button type="button" onclick="changeFontSize(1)" class="buttonDWS change-font-size big hidden"  >A</button>
                    

                    {% if keyboardList|length > 1 %}
                        <div id="lang-selector" class="dropdown col-sm-6 col-centered">
                            <button id="clavier" class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">
                                {{literals["screen2_dropdown_keyboard_lang"]}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for keyboard in keyboardList %}
                                    <li>
                                        <a onclick='changeKeyboardFromList("{{ keyboard['value'] }}", "{{keyboard['extraConf']}}")'>
                                            {{ keyboard["name"] }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}
                    <!-- New Buttons for Cartier hidden in other collections -->
                    <div id="button-font-resize" class="hidden">
                        <button id="initialsButton" class="btn btn-primary dropdown-toggle buttonDWS" type="button" onclick="changeEngravingFontSize('{{fontFileName}}', '{{pinMode}}', 'engravingFont_{{fontName}}', 5.5, 5.5, '{{color}}')">
                            Initials
                        </button>
                        <button id="dateButton" class="btn btn-primary dropdown-toggle buttonDWS" type="button" onclick="changeEngravingFontSize('{{fontFileName}}', '{{pinMode}}', 'engravingFont_{{fontName}}', 6, 6, '{{color}}')">
                            Date
                        </button>
                    </div>

                    <div id="font-selector" class="dropdown col-sm-6 col-centered {% if font_list|length < 2 %} hidden {% endif %}">
                        <button class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">
                            {{literals["screen2_dropdown_title"]}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for font in font_list %}
                                {% set fontNameDisplay = font["policeName"] %}
                                {% set fontFileName = font["police"] %}
                                {% set pinMode = font["laserPin"] %}
                                {% set fontsize = font["fontsize"] %}
                                {% set color = font["color"] if font["color"] else "" %}
                                {% set fontsize_max = font["fontsize_max"] if font["fontsize_max"] else font["fontsize"]  %}
                                {% set fontName = fontFileName.split('.')[0].replace("/","_") %}
                                <li style="font-family: engravingFont_{{fontName}};" class="font-keyboard {{font['keyboard_list']}}">
                                    <a onclick="changeEngravingFont('{{fontFileName}}', '{{pinMode}}', 'engravingFont_{{fontName}}', {{fontsize}}, {{fontsize_max}}, '{{color}}')">
                                        {{ fontNameDisplay }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if e_commerce_active %}
                    <div class="dropdown col-sm-6 col-centered" id="positioning-button" style="display: none;">
                        <button class="btn btn-primary buttonDWS" type="button">
                            {{ literals["screen2_position_change"] }}
                        </button>
                    </div>
                    {% else %}
                    <div class="dropdown col-sm-6 col-centered" id="positioning-button">
                        <button onclick="changeTextHeight()" class="btn btn-primary buttonDWS" type="button">
                            {{ literals["screen2_position_change"] }}
                        </button>
                    </div>
                    {% endif %}
                    <div class="dropdown col-sm-6 col-centered MFK-custom" style="display:none">
                        <button onclick="addMFKLogo()" class="btn btn-primary buttonDWS" type="button">
                            Logo
                        </button>
                    </div>
                    <div class="dropdown col-sm-6 col-centered RM" style="display:none">
                        <button onclick="printLogo('/customStatic/images/logos/Remy_Martin.png' )" class="btn btn-primary buttonDWS" type="button">
                            Logo
                        </button>
                    </div>



                    <div class="dropdown col-sm-6 col-centered" id="hennessy-images" style="display:none;">
                        <button class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">{{literals["screen2_add_picto"]}}
                        <span class="caret"></span></button>
                        <div class="dropdown-menu">
                            <ul class="image-grid">
                                <li>
                                    <a onclick="noPictogram()">
                                       <img src="/customStatic/images/logos/Hennessy/noImage.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="tiger-hennessy-picto" onclick="printLogo('/customStatic/images/logos/Hennessy/tiger{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/tiger.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a onclick="printLogo('/customStatic/images/logos/Hennessy/boeuf{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/boeuf.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-picto" onclick="printLogo('/customStatic/images/logos/Hennessy/lapin{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/lapin.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-dog" onclick="printLogo('/customStatic/images/logos/Hennessy/dog{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/dog.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-dragon" onclick="printLogo('/customStatic/images/logos/Hennessy/dragon{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/dragon.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-horse" onclick="printLogo('/customStatic/images/logos/Hennessy/horse{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/horse.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-monkey" onclick="printLogo('/customStatic/images/logos/Hennessy/monkey{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/monkey.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-pig" onclick="printLogo('/customStatic/images/logos/Hennessy/pig{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/pig.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-rat" onclick="printLogo('/customStatic/images/logos/Hennessy/rat{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/rat.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-rooster" onclick="printLogo('/customStatic/images/logos/Hennessy/rooster{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/rooster.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-sheep" onclick="printLogo('/customStatic/images/logos/Hennessy/sheep{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/sheep.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a id="lapin-hennessy-snake" onclick="printLogo('/customStatic/images/logos/Hennessy/snake{{picto_apend}}.png')">
                                        <img src="/customStatic/images/logos/Hennessy/snake.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>




                    <div class="dropdown col-sm-6 col-centered" id="mcd-images" style="display:none;">
                        <button class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">{{literals["screen2_add_picto"]}}
                        <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                            <li>
                                <a onclick="$('#textToEngrave').change()">
                                    No image
                                </a>
                            </li>
                            <li id="etoile_noel">
                                <a onclick="printLogo('/customStatic/images/logos/dior/etoile_noel.png')">
                                    <img src="/customStatic/images/logos/dior/etoile_noel.png" alt="">
                                </a>
                            </li>
                            <li id="arbre_noel">
                                <a onclick="printLogo('/customStatic/images/logos/dior/arbre_noel.png')">
                                    <img src="/customStatic/images/logos/dior/arbre_noel.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown col-sm-6 col-centered" id="vivatech-images" style="display:none;">
                        <button class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">
                            {{literals["screen2_add_picto"]}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="$('#textToEngrave').change()">
                                    No image
                                </a>
                            </li>
                            <li>
                                <a onclick="printLogo('/customStatic/images/logos/DWS/coeur.png')">
                                    <img src="/customStatic/images/logos/DWS/coeur.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a onclick="printLogo('/customStatic/images/logos/DWS/etoile.png')">
                                    <img src="/customStatic/images/logos/DWS/etoile.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a onclick="printLogo('/customStatic/images/logos/DWS/trefle.png')">
                                    <img src="/customStatic/images/logos/DWS/trefle.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown col-sm-6 col-centered" id="martell-images" style="display:none;">
                        <button class="btn btn-primary dropdown-toggle buttonDWS" type="button" data-toggle="dropdown">
                            {{literals["screen2_add_picto"]}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="$('#textToEngrave').change()">
                                    No image
                                </a>
                            </li>
                            <li>
                                <a id="tour-martell-picto" onclick="printLogo('/customStatic/images/logos/Martell/tour-simple{{picto_apend}}.png')">
                                    <img src="/customStatic/images/logos/Martell/tour.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a id="palais-martell-picto" onclick="printLogo('/customStatic/images/logos/Martell/palais-simple{{picto_apend}}.png')">
                                    <img src="/customStatic/images/logos/Martell/palais.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a id="arc-martell-picto" onclick="printLogo('/customStatic/images/logos/Martell/arc-simple{{picto_apend}}.png')">
                                    <img src="/customStatic/images/logos/Martell/arc.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>

                    {% if inputs["show_slider"] and not inputs["show_font_size_buttons"] %}
                    <div class="dropdown col-sm-12 col-centered" id="slidecontainer" style="display:none;">
                        <div class="slidecontainer">
                            <p>Text size</p>
                             <input type="range" min="10" max="20" class="slider" id="myRange">
                              <p style="display:none;">Value: <span id="demo"></span></p>
                        </div>
                    </div>
                    {% endif  %}


                    {% if inputs["show_font_size_buttons"] %}
                    <div class="dropdown col-sm-12 col-centered">

                        <div class="input-group fontsize-buttons-container centered" id="fontsize-buttons-container">
                            <p class="">{{literals["screen2_show_font_size_buttons"]}}</p>
                                <div class="input-group fontsize-buttons-container centered" style="width: 100%;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number no-border" data-type="minus" data-field="quant[1]">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                    </span>
                                    <input type="text" name="quant[1]" class="form-control input-number no-border" value='{{inputs["fontsize_max"]}}'
                                    min='{{inputs["fontsize"]}}' max='{{inputs["fontsize_max"]}}'>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number no-border" disabled="disabled" data-type="plus" data-field="quant[1]">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    </span>
                                </div>
                        </div>


                    </div>
                    {% endif  %}







                    {% for font in font_list %}
                        {% set fontName = font["police"].split('.')[0].replace("/","_") %}
                        <div class="dummy-text-for-fonts" style="font-family: engravingFont_{{fontName}};">.</div>
                    {% endfor %}
                </div>
                <button id="close-keyboard" type="button" class="btn btn-info btn-lg hidden">close-keyboard</button>

            <div class="initials-input-container hidden" style="display: inline-block;">
                <input type="checkbox" name="engrave_mode" value="0"> {{literals["screen2_initials"]}}
            </div>
            <p id="textAreaRestrictions" class="" style=""></p>
            <p id="font-not-found-msg" class="hidden" style="color:red;">{{literals["screen2_font_not_found"]}}</p>
            <p class="errorMessage" style="color:red;display:none">{{literals["screen2_required"]}}</p>
            <p class="errorNumberCharacters" style="color:red;display:none">{{literals["screen2_maxlength"]}}</p>
            <p class="errorNumberLines" style="color:red;display:none">{{literals["screen2_maxNbreOfLines"]}}</p>
        </div>

{% if inputs["signatureEngraving"] %}
            <button id="modalButtonSignature" type="button" class="btn btn-info btn-lg" data-toggle="modal"
                    data-target="#myModalSignature">{{literals["screen2_signature_button"]}}
            </button>
{% endif  %}
            <div class="button-container">
                {% if not hideBackButton or True %}
                    <button type="button" id="goBackA" class="buttonDWS tour_2_7">{{literals["screen2_back"]}}</button>
                {% endif %}
                <button disabled type="button" id="goForwardA" class="buttonDWS tour_2_8">{{literals["screen2_ok"]}}</button>
            </div>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm" style="text-align: center;">
        </div>
    </div>
    <!-- SIGNATURE CANVAS MODAL POP UP-->
    <div class="modal fade" id="myModalSignature" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <canvas id="signatureCanvas" width="100" height="100" style="border:2px solid black"></canvas>
                </div>
                <div class="modal-footer">
                    <div class="select-lang">
                        <p>{{literals["screen2_signature_line_width"]}}</p>
                        <select id="selWidth" class="btn btn-default">
                            <option value="2">2</option>
                            <option value="3" selected="selected">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <a type="button" class="btn btn-default" onclick="javascript:clearSignatureCanvasArea();return false;">{{literals["screen2_signature_clear"]}}</a>
                    <a type="button" data-dismiss="modal" class="btn btn-default" onclick="confirmSignature()">{{literals["screen2_signature_confirm"]}}</a>
                </div>
            </div>

        </div>
    </div>







    {% endblock %}
    {% block formend %}
</form>
{% endblock %}
{% block javascript %}
<script>
const textareafield= document.getElementById('textToEngrave');

{% for font in font_list %}
    {% set fontFileName = font["police"] %}
    {% set fontName = fontFileName.split('.')[0].replace("/","_") %}
    console.log("font list: {{fontFileName}}");
    checkCustomFont('./customStatic/Fonts/' + "{{fontFileName}}");
    addFontFace("{{fontFileName}}", "engravingFont_{{fontName}}");
{% endfor %}


$( document ).ready(function() {

    setEngravingFont("{{defaultFont}}")
    // Loading first keyboard by default
    changeKeyboardFromList("{{loaded_keyboard}}", "{{loaded_keyboard_extra_conf}}", true);
    {% if allow_edition %}
        console.log("allow_edition")
        keyboardInit("textToEngrave")
    {% else %}
        console.log("not allow_edition")
        $('#textToEngrave').prop("readonly", true);
        $('.button-predef-container button').prop("disabled", true);
        $('#positioning-button').prop("disabled", true);
    {% endif %}
    onResize();
    $('#productImage').removeClass("hidden");

    prepareSignatureEngraving();

    // Loading text from 3rd screen
    {% if textToEngrave and fontToEngrave %}
        console.log("####### from screen 3")
        $('#textToEngrave').val("{{ textToEngrave | replace('\r\n','\\r\\n') | replace('\"','\\"') | safe}}");
        setTimeout(function(){
            $.ajax({
                type : 'GET',
                url : "/customStatic/Fonts/{{fontToEngrave}}",
                timeout: 3000,
                error : function(request, status, error) {
                    console.log("error getting font")
                },
                complete : function(){
                    // Changing font
                    $("input[name='font']").val("")
                    $("a[onclick*='{{fontToEngrave}}']").click();
                    customLogicLoadScreen2();
                    setTimeout(function(){
                        if(isTextInBoundaries($('#textToEngrave').val())){
                            $('#textToEngrave').change();
                        }
                    }, 500);
                }
            });
        }, 800);
    {% endif  %}
});

</script>

<!-- BIG Canvas to obtain better quality -->
    <div class="moving-square hidden" style="height: 100%;">
        <canvas id="printCanvas"></canvas>
    </div>

<script>
    var canvas_px = {{canvas_px}};
    // This value will be overwritten with the calculation of the pixels needed for the specified hatch
    var canvasFactor = 1;
    var text_color = "{{inputs["text_color"]}}";
    var vertical_engraving = "{{inputs["vertical_engraving"]}}";
    //var max_number_of_chars = {{inputs["max_number_of_chars"]}};
    var max_number_of_lines = "{{inputs["max_number_of_lines"]}}";
    //$("#textAreaRestrictions").html(max_number_of_lines + " {{literals["screen2_constraint1"]}} " + max_number_of_chars + " {{literals["screen2_constraint2"]}}");
    var fontsize = {{inputs["fontsize"]}};
    var defaultFontsize = {{inputs["fontsize"]}};
    var fontsize_max = {{inputs["fontsize_max"]}};
    var defaultFontsize_max = {{inputs["fontsize_max"]}};
    var fontsize_min = {{inputs["fontsize"]}};
    var defaultFontsize_min = {{inputs["fontsize"]}};
    var XOffset =  {{inputs["X_Offset"]}};
    var maxHeightMM = {{inputs["maxHeightMM"]}};
    var maxWidthMM = {{inputs["maxWidthMM"]}};
    var defMaxHeightMM = maxHeightMM;
    var defMaxWidthMM = maxWidthMM;
    console.log('defaultFontsize:',defaultFontsize);
    console.log('fontsize:',fontsize);
    console.log('fontsize_max:',fontsize_max);
    console.log('fontsize_min:',fontsize_min);
    console.log('defaultFontsize_min:',defaultFontsize_min);
    var flsp = {{ flsp | safe }};

    // In functionalities we calculate the correct vertical rapport
    // mm / px
    var vertical_rapport = {{intermedios["vertical_rapport"]}};
    var default_height = {{intermedios["default_height"]}};
    console.log("first default_height = " + default_height);
    // create litterals
    {% for literal in literals %}
        var LT_{{literal}}= '{{literals[literal]}}';
    {% endfor %}

    // Rectangle restriction for the engraving area
    {% if inputs["engraving_restriction"] %}
    var x0_restriction = {{intermedios["engraving_box_x_0"]}};
    var y0_restriction = {{intermedios["engraving_box_y_0"]}};
    var x_len_restriction = {{intermedios["engraving_box_x_len"]}};
    var y_len_restriction = {{intermedios["engraving_box_y_len"]}};
    var canvas_restriction = [x0_restriction, y0_restriction, x_len_restriction, y_len_restriction];
    {% endif  %}

      
   

      

</script>
{% if inputs["defaultKeyboardFont"] == "True" %}
    <style>
        textarea {
            font-family: CustomEmojisFont,Trebuchet MS,Verdana,Arial,sans-serif,EmojisFont!important;
        }
    </style>
{% endif %}


{% endblock %}
