<script>
    var product_name = "{{product}}";
</script>
{% extends 'layout.html'%}

{% block formstart %}

<form action="/screen3" method="POST" id="screen3Form">
    <input type="hidden" name="product" value="{{product}}">
    <input type="hidden" name="pathimg" value="{{pathimg}}">
    <input type="hidden" name="color" value="{{color}}">
    <input type="hidden" name="textColor" value="{{textColor}}">
    <input type="hidden" name="ts" value="{{ts}}">
    <input type="hidden" name="clientOrderId" value="{{clientOrderId}}">
    <input type="hidden" name="pictogram" value="{{pictogram}}">
    <input type="hidden" name="clientProdName" value="{{clientProdName}}">
    <input type="hidden" name="clientProductId" value="{{clientProductId}}">
    <input type="hidden" name="font" value="{{font}}">
    <input type="hidden" name="keyboard" value="{{loaded_keyboard}}">
    <input type="hidden" name="keyboardConf" value='{{loaded_keyboard_extra_conf}}'>
    <input type="hidden" name="base64img" value="{{base64img}}">
    <input type="hidden" name="textToEngrave" value="{{textToEngrave}}">
    <input type="hidden" name="engraving_stopped" value="">
    <input type="hidden" name="engraving_relaunched" value="">
    <input type="hidden" name="error_message" value="">
    <textarea id="informErrorMessage" class="hidden" name="informErrorMessage" placeholder='{{literals["screen2_placeholder"]}}' spellcheck="false"></textarea>
    <div id="VirtualKeyboardIME" class="ZH" style="left: -410px;top: -1px;"></div>
    {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-md-1 hidden-xs hidden-sm" style="text-align: center;">
        </div>
        <div class="col-md-5 col-xs-6" style="text-align: center;">
            <div id="imgcontainer" class="">
                <div class="img-container tour_3_2">
                    <div class="redsquare rack moving-square" style='
                        bottom:{{intermedios["laserpoint"]}};
                        height:{{intermedios["squareheight"]}};'>
                        <canvas id="textCanvas" class='{{ product | replace("/", "") }}'></canvas>
                    </div>
                    <img class="product-img hidden" ratio='{{intermedios["ratio"]}}' id="productImage" src='/download{{pathimg}}'/>
                </div>
            </div>
        </div>
        <div id="right-panel" class="col-md-5 col-xs-6" style="text-align: center;display:none;">
            <div class="warning-msg-platform">
                {% if e_commerce_active %}
                    <p id="prodIdInfo">{{clientOrderId}} - {{clientProdName}} - {{volume}}</p>

                    <div class="dot-color-container MFK" style="display:none;">
                        <div class="dot-color">
                        <span class="dot accessory silver"></span>
                        </div>
                        <div class="dot-color">
                        <span class="dot accessory gold"></span>
                        </div>
                        <!--add white color span -->
                        <div class="dot-color">
                        <span class="dot accessory white"></span>
                        </div>
                    </div>
                {% endif %}
                <div class="warning-msg-container tour_3_3 tour_3_8">
                    <p class="info">{{literals["screen3_laser_checking_status"]}}</p>
                    <p id="laser-ready-msg" class="info" style="display:none">{{literals["screen3_laser_is_ready"]}}</p>
                    <p id="laser-interlock-msg" style="display:none;" class="warning-msg">{{literals["screen3_laser_interlock"]}}</p>
                    <p id="laser-off-msg" style="display:none;" class="warning-msg">{{literals["screen3_laser_is_off"]}}</p>
                </div>
                <img class="tour_3_4"  style="width: 5%;display:inline;vertical-align: middle;" src = '/static/images/warning-icon.png' />
                <span id="warning-msg-platform" >{{literals["screen3_platoform_position"]}}</span>
                <img class="platform-img tour_3_5" src='/customStatic/images/{{platformNumberPNG}}'/>
                {% if isDior==true %}
                <img  id="cale_remove" src='/customStatic/images/{{cale_remove_img}}'/>
                <span id="cale_name" >{{literals["screen3_cale"]}}:{{cale_name}}</span><br>
                <span id="warning-msg-remove-cale" style="display:none;" ><img class="tour_3_4"  style="width: 5%;display:inline;vertical-align: middle;" src = '/static/images/warning-icon_red.png' />{{literals["screen3_cale_position"]}}</span>
                {% endif %}
            </div>
            <div class="button-container">
                <button type="button" id="goBackA2" class="buttonDWS tour_3_6">{{literals["screen3_back"]}}</button>
                <button type="button" id="printButton" class="buttonDWS tour_3_7" disabled>{{literals["screen3_print"]}}</button>
                {% if engravingWithOnlyRedPointer == "True" %}
                    <button type="button" id="redRectangleButton" class="buttonDWS allow-always" disabled>{{literals["screen3_RedRectangle"]}}</button>
                    <img id="redRectangleButton-loading" class="loadingGif hidden"
                         src='{{ url_for("static", filename="images/Loading.gif") }}' alt="Loading...">


                {% endif %}
            </div>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm" style="text-align: center;">
        </div>
    </div>


    <!-- Modal -->
    <button style="display:none" id="modalButton" type="button" class="btn btn-info btn-lg" data-toggle="modal"
            data-target="#myModal">Open Modal
    </button>
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- MODAL 1: SENDING ORDER -> with loading GIF -->
            <div id="modal-sending-order" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{literals["scree3_modal_sending"]}}</h4>
                    <h4 style="display:none" class="modal-title back-to-start">{{literals["screen3_modal_back_to_start"]}}</h4>
                </div>
                <div class="modal-body">
                    <img class="loadingGif" src='{{ url_for("static", filename="images/Loading.gif") }}' alt="Loading...">
                </div>
            </div>

            <!-- MODAL 2: ENGRAVING -> progress bar -->
            <!-- last question and back to start (add button to tell if there was a problem?) -->
            <div id="modal-engraving" class="modal-content" style="display:none">
                <div class="modal-header">
                    <div class="col-sm-12">
                        <h4 class="modal-title finishText">{{literals["scree3_modal_ordersent"]}}</h4>
                        <h4 style="display:none" class="modal-title order-finished">{{literals["scree3_modal_orderfinished"]}}</h4>
                        <h4 style="display:none" class="modal-title relaunch">{{literals["screen3_modal_preparing_relaunch"]}}</h4>
                        <h4 style="display:none" class="modal-title order-finished-error">{{literals["screen3_modal_order_canceled"]}}</h4>
                        <h4 class="modal-title finishText hidden" id="engravingTime" value=''>{{literals["screen3_modal_engraving_time"]}} #TIME_FORMAT#</h4>
                        <div id="myProgress" class="progress tour_4_2">
                            <div  id="myBar" class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body tour_4_3">
                    <p class="finishText">{{literals["scree3_modal_engravinginprocess"]}}</p>
                    <div class="finishText stars-container">
                        <!-- OLD Question {{literals["scree3_modal_stars_rating"]}}-->
                        <!-- <h1 id="question_id" question_id='{{q["qid"]}}' questionType='{{q["answer"]}}'>{{q["text"]}}</h1> -->
                        <h1 id="question_id" question_id='{{q["qid"]}}' questionType='{{q["answer"]}}'>{{literals["scree3_modal_stars_rating"]}}</h1>
                        <div class="q-response" type='{{q["answer"]}}'>
                        {% if q["answer"] == "YN" %}
                            <div class="radio-buttons">
                                <input type="radio" name="rating" value="yes">{{literals["scree3_modal_question_answer_YN_Y"]}}</input>
                                <input type="radio" name="rating" value="no">{{literals["scree3_modal_question_answer_YN_N"]}}</input>
                            </div>
                        {% elif q["answer"] == "data" %}
                            <p>{{literals["scree3_modal_question_answer_data"]}}</p>
                            <div class="input-mail">
                                <input id="q-response" class="" name="rating" placeholder='{{literals["scree3_modal_question_answer_data_placeholder"]}}' spellcheck="false">
                            </div>
                            <p class="legal">{{literals["scree3_modal_question_answer_data_legal"]}}</p>
                        {% else %}
                            <fieldset class="rating" type='{{q["answer"]}}'>
                                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            </fieldset>
                        {% endif %}
                        </div>
                    </div>
                    <div class="finishText retry-relaunch" style="display:none;">
                        <h1>{{literals["screen3_modal_relaunch_title"]}}</h1>
                        <h1>{{literals["screen3_modal_relaunch_message"]}}</h1>
                    </div>
                    <div class="finishText inform-error-text" style="display:none">
                        <h1>{{literals["screen3_modal_inform_error_title"]}}</h1>
                        <div class="modal-body">
                            <p>{{literals["screen3_modal_inform_error_text1"]}}</p>
                            <p>{{literals["screen3_modal_inform_error_text2"]}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="relaunchButton" disabled class="btn btn-default tour_4_6" style="float: left;">
                        {{literals["scree3_modal_relaunch"]}}
                    </button>
                    <button type="button" id="confirmRelaunchButton" disabled class="btn btn-default" style="float: left;display:none;">
                        {{literals["scree3_modal_confirm"]}}
                    </button>
                {% if engravingWithOnlyRedPointer == "True" %}
                    <button type="button" id="redRectangleButtonModal" class="btn btn-default" disabled style="float: left;display:none;">
                        {{literals["screen3_RedRectangle"]}}
                    </button>
                {% endif %}
                    <a type="button" class="btn btn-default left tour_4_4" onclick="openKeyboard()">{{literals["screen3_modal_inform_error"]}}</a>
                    <a type="button" class="btn btn-default tour_4_7" onclick="backToStartStoringEngraving()">{{literals["scree3_modal_backtostart"]}}</a>
                    <button type="button" class="hidden btn btn-default" data-dismiss="modal">
                        {{literals["scree3_modal_close"]}}
                    </button>
                    <button type="button" class="btn btn-default stopButton tour_4_5">
                        {{literals["scree3_modal_stop"]}}
                    </button>
                </div>
            </div>

            <!-- MODAL 3: ERROR -> steps to diagnose problem and relaunch -->
            <div id="modal-error" class="modal-content" style="display:none">
                <div class="modal-header">
                    <h4 class="modal-title">{{literals["screen3_modal_error_occured"]}}</h4>
                </div>
                <div class="modal-body">
                    <h1 id="error_title" style="display:none">{{literals["screen3_modal_error_steps"]}}</h1>
                    <h1 id="retry_title" style="display:none">{{literals["screen3_modal_error_checking"]}}</h1>
                    <div id="list_of_errors">
                        <p id="retry_text" style="display:none">{{literals["screen3_modal_error_click_relaunch"]}}</p>
                    </div>
                    <div class="finishText inform-error-text" style="display:none">
                        <h1>{{literals["screen3_modal_inform_error_title"]}}</h1>
                        <div class="modal-body">
                            <p>{{literals["screen3_modal_inform_error_text1"]}}</p>
                            <p>{{literals["screen3_modal_inform_error_text2"]}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="relaunchButton2" disabled class="btn btn-default tour_4_6" style="float: left;">
                        {{literals["scree3_modal_relaunch"]}}
                    </button>
                    <a type="button" class="btn btn-default" onclick="openKeyboard()" style="float: left;">{{literals["screen3_modal_inform_error"]}}</a>
                    <a type="button" class="btn btn-default tour_4_7" onclick="backToStart()">{{literals["scree3_modal_backtostart"]}}</a>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
    {% block formend %}
</form>
{% endblock %}
{% block javascript %}
<script>
const customJSLayoutName = "password";

$("#goBackA2").click(function(){
    console.log("Previous step");
    $("#screen3Form").attr('action','/screen2')
    $("#screen3Form").submit();
});

$( document ).ready(function() {
    keyboardInit("informErrorMessage")
    keyboardInit("q-response")
    onResize();
     $('#productImage').removeClass("hidden");

    sendPictureToProcess("{{base64img_process}}", "{{pinMode}}", "{{textColor}}");
    // TODO uncomment
    checkLaserIsReady();
    customLogicLoadScreen3();

});
function reSendPictureToProcess(){
    sendPictureToProcess("{{base64img_process}}", "{{pinMode}}", "{{textColor}}");
}
var canvas_px = {{canvas_px}};
var vertical_rapport = {{intermedios["vertical_rapport"]}};
// This value will be overwritten with the calculation of the pixels needed for the specified hatch
var canvasFactor = 1;
var canvas_restriction = [];
</script>

{% if engravingWithOnlyRedPointer == "True" %}
<style>
    #right-panel p {
        padding: 1px 11px 0px 11px;
    }
</style>
{% endif %}

{% if q["qid"] == "NONE" %}
<style>
    #modal-engraving .modal-body{
        display: none;
    }
</style>
{% endif %}
{% endblock %}
