<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/font-awesome.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/keyboard.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='/customStatic/custom.css?v={{staticversion}}'>
    <script>var app_lang = '{{literals["lang_code"]}}';</script>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery.keyboard.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/functionalities.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/canvas.js") }}?v={{staticversion}}'></script>
</head>
<body>
    <form action="/sendProductsToProd" method="POST" autocomplete="off">
        <h1>Send product to data base in PRO</h1>
        <p>In bold mandatory items</p>
        <p>Considerations:</p>
        <ul>
            <li>Write the name of the product folder (containing the category)</li>
        </ul>
        <!-- Collection parameters table -->
        <table>
          <tr>
            <th>Input name</th>
            <th>Input value</th>
          </tr>
            {% for param in send_prod_params%}
              <tr>
                <td class='{{param["class"]}}'>{{param["td_text"]}}</td>
                <td><input type="text"  value='{{param.get("default_value")}}' name='{{param["name"]}}' placeholder='{{param["placeholder"]}}' {{param["class"]}}></td>
              </tr>
            {% endfor %}
              <tr>
                <td class=''>Do all products</td>
                <td><input type="checkbox" name='do_all_products'></td>
              </tr>
              <tr>
                <td class=''>Send to PRODUCTION</td>
                <td><input type="checkbox" name='prod'></td>
              </tr>
              <tr>
                <td class=''>Path to MYDWS folder in this computer to copy product image</td>
                <td><input type="text" name='path_to_mydws'></td>
              </tr>


        </table>
        <input type="submit" value="Submit">
    </form>
</body>





<script>
</script>

<style>
h1, h2, h3, p{
    margin: 10px;
}

p{
    font-size: initial;
}

.required{
    font-weight: 900;
}

input, button{
    margin: 5px;
    width: 95%;
}

table{
    margin-left: 10px;
}

td{
    min-width: 300px;
}

body{
    overflow: initial;
}

input[type=submit]{
    margin-top: 50px;
    margin-bottom: 50px;
}

button, table{
    margin-top: 10px;
    margin-bottom: 10px;
}

td.prod-title{
    padding: 5px;
    font-weight: bold;
    font-size: x-large;
}
</style>
