<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRAINING</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/bootstrap.min.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/jquery-ui.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/keyboard.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}?v={{staticversion}}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/training.css") }}'>
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/bootstrap.min.js") }}'></script>

    <script src='{{ url_for("static", filename="js/jquery.keyboard.js") }}'></script>
    <script src='{{ url_for("static", filename="js/jquery-ui.min.js") }}'></script>
    <script src='{{ url_for("static", filename="js/keyboard.configuration.js") }}?v={{staticversion}}'></script>

    <script src='{{ url_for("static", filename="js/functionalities.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/training.js") }}?v={{staticversion}}'></script>
    <script src='{{ url_for("static", filename="js/chinese-pynsimpl.js") }}?v={{staticversion}}'></script>
</head>
<style>
{% for img in imgs %}
    .background-img-order-{{img}} {
        background-image: url("{{imgs_path}}{{img}}.jpg?v={{staticversion}}");
    }
{% endfor %}
</style>
<script>
    var n_slides = {{imgs|length}};
    var max_n_trainees = {{max_n_trainees}};
</script>
<body class="background-img-training">
    <div id="header">
        <!-- FORM to write trainees data -->
        <form id="form-trainee" action="/screen1" method="POST" onsubmit="return validateGeneralTrainingForm();">
            <div id="training-welcome" class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <img id="logo" onclick="turnOffRaspberry()" src='/static/images/LOGO_transparent.png' />
                    </div>
                    <div class="col-sm-8" style="text-align: center;">
                        <h3 id="welcome-title-training">{{literals["training_general_welcome"]}}</h3>
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2" id="goForward" style="">
                        <select id="selectLangBox" class="btn btn-default select-lang" data-placeholder="Lang"
                                style="margin-top: 18px;margin-left: -20%;" onchange="changeLang();">
                            <option value="" disabled selected style="display:none;">{{literals["screen1_restart_modal_change_lang"]}}</option>
                                {% for key in langlist %}
                                    <option value="{{key}}">{{langlist[key]}}</option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{literals["training_general_every_person"] | safe}}</p>
                        <p>{{literals["training_general_each_person"]}}</p>
                        <ul>
                            <li>{{literals["training_general_step_1"]}}</li>
                            <li>{{literals["training_general_step_2"]}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <p>{{literals["training_general_max"]}} {{max_n_trainees}} {{literals["training_general_same_time"]}}</p>
                    </div>
                </div>
            </div>
            <div id="training-confirmation" class="container" style="display:none;">

                <div class="row">
                    <div class="col-sm-2">
                        <img id="logo" src='/static/images/LOGO_transparent.png' />
                    </div>
                    <div class="col-sm-8" style="text-align: center;">
                        <h3>{{literals["training_general_end"]}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>{{literals["training_general_confirm"]}}</h4>
                        <p>{{literals["training_general_click_continue"]}}</p>
                    </div>
                </div>
            </div>

            <div id="training-loading-gif" style="display:none;">
                <img class="loadingGif" src='{{ url_for("static", filename="images/Loading.gif") }}' alt="Loading...">
                <p style="text-align:center;">{{literals["training_general_loading"]}}</p>
            </div>
            <input type="hidden" name="password-type" value="">
            <input type="hidden" name="n_trainees" value="1">
            <input type="hidden" name="general_training_duration" value="0">

            <div class="container">
                <div class="row repeat repeat-1" about="1">

            <div id="VirtualKeyboardIME" class="ZH hidden">
                <table><tbody>
                    <tr>
                        <td class="IMEControl"><div class="left"><!-- --></div></td>
                        <td class="IMEControl IMEContent">
                        <td class="IMEControl"><div class="right"><!-- --></div></td>
                    </td>
                </tr>
                <tr>
                    <td class="IMEControl IMEInfo" colspan="3">
                        <div class="showAll">
                            <div class="IMEPageCounter"></div>
                            <div class="arrow"></div>
                        </div>
                    </td>
                </tr>
                </tbody></table>
            </div>
                    <div class="col-sm-12">
                        <label for="firstName-1">{{literals["training_general_name"]}}</label><input id="firstName-1" name="firstName-1" onchange="isInputValid($(this))">
                        <label for="lastName-1">{{literals["training_general_last_name"]}}</label><input id="lastName-1" name="lastName-1" onchange="isInputValid($(this))">
                    </div>
                </div>
            </div>
            <button class="training next btn btn-default" type="submit" id="continue-training"
                    style="display:none;">{{literals["training_general_continue"]}}</button>
        </form>
    </div>
    <div class="container">
        <div class="row">

            <button id="add-new-person" class="training center trainee-form btn btn-default" onclick="addNewPerson()">{{literals["training_general_new_person"]}}</button>

            <!-- Back and Next buttons -->
            <button class="training back btn btn-default" onclick="changeImageNumber(-1)" disabled>{{literals["training_general_back"]}}</button>
            <button class="training next btn btn-default" onclick="changeImageNumber(1)">{{literals["training_general_next"]}}</button>
        </div>
    </div>

    <!-- ROW base for new trainees -->
    <div id="repeat-BASE">
        <div class="row repeat repeat-BASE" style="display:none" about="BASE">
             <div class="col-sm-12">
                <label for="firstName-BASE">{{literals["training_general_name"]}}</label><input id="firstName-BASE" name="firstName-BASE" onchange="isInputValid($(this))">
                <label for="lastName-BASE">{{literals["training_general_last_name"]}}</label><input id="lastName-BASE" name="lastName-BASE" onchange="isInputValid($(this))">
                <label onclick="removePerson('repeat-BASE')">&#10006;</label>
             </div>
        </div>
    </div><button id="modalButtonTurnOff" type="button" class="hidden btn btn-info btn-lg" data-toggle="modal"
            data-target="#myModalTurnOff">Open Modal
    </button>
    <div class="modal fade" id="myModalTurnOff" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <button type="button" class="hidden close" data-dismiss="modal">&times;</button>
                        <div class=col-xs-6>
                            <h4 class="modal-title">{{literals["screen1_restart_modal_title"]}}</h4>
                        {% if debug_mode == "True" %}
                            <h4 class="modal-title warning-msg">DEBUG MODE ACTIVE</h4>
                        {% endif %}
                        </div>
                        <div class=col-xs-6>
                            <h4 class="modal-title" id="IpAndVersionId" style="float:right">V{{VersionAndIp}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="warning-msg" style="font-size: 28px;">{{literals["screen1_restart_modal_text"]}}</h1>
                            <h1 class="loadingGif" style="font-size: 28px;display:none;"></h1>
                             <input id="password" type="password" class="password-admin hidden" spellcheck="false">
                            <textarea id="feedBackMessage" class="contact-form hidden" name="feedBackMessage" placeholder='{{literals["screen2_placeholder_contact"]}}' spellcheck="false"></textarea>
                            <h4 class="hidden adminPassOk">{{literals["screen1_modal_admin_pass_ok"]}}</h4>
                            <div id="VirtualKeyboardIME_password" class="ZH" style="left: -410px;top: -1px;"></div>
                            <img class="loadingGif" style="display:none;" src='{{ url_for("static", filename="images/Loading.gif") }}'
                                 alt="Loading...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer tour_1_4">
                    <div class="modal-footer-row">
                        {% if awm %}
                            <button class="btn btn-default left" type="button" onclick="openPassKeyboard('switchModes')">
                                {{literals["screen1_restart_modal_load_e_commerce_mode"]}}
                            </button>
                            <button class="btn btn-default left show-ecommerce" type="button" onclick="openPassKeyboard('activateAdminMode')">
                                {{literals["screen1_restart_modal_load_e_commerce_admin_mode"]}}
                            </button>
                        {% endif %}
                        <a type="button" class="btn btn-default left" onclick="openPassKeyboard('closeApp');">{{literals["screen1_restart_modal_close_app"]}}</a>
                        <a type="button" class="btn btn-default tour_1_6" onclick="showShutdownGif('{{literals["screen1_restart_modal_restarting"]}}')"
                            href="/screen1?option=restart">{{literals["screen1_restart_modal_restart"]}}</a>
                        <a type="button" class="btn btn-default tour_1_7" onclick="showShutdownGif('{{literals["screen1_restart_modal_shutting_down"]}}')"
                            href="/screen1?option=shutdown">{{literals["screen1_restart_modal_shutdown"]}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    $( document ).ready(function() {
        if("{{new_lang}}" == "_chi"){
            customJSLayoutName = "chi_man";
            chineseAutocomplete = true
        } else {
            customJSLayoutName = "defaultDWS";
        }
        startTrainingKeyboards(1);
    });

</script>
</html>