.header{
	margin-bottom: 0;
}

.table>tbody>tr>td{
	vertical-align: middle;
}
.table>tbody>tr>td.center{
	text-align: center;
}

.show-ecommerce{
	display: initial;
}

.tableFixHead{
	max-height: 80vh;
}

#search-e-engraving{
	position: absolute;
}

#search-e-engraving2{
	position: absolute;
}