body, html{
	overflow: auto;
}
html, body, body button, body img, body input, body textarea, body a, body div {
    cursor: initial!important;
}
img{
	width: 100%;
	margin-top: 10px;
}

h1{
	margin-top: 10px;
}

td{
	max-width: 20%;
}


.scrolled {
    overflow-x: scroll;
    height: fit-content;
}

#FixliteralsButton{
	background-color:#333;
	border: none;
	color: #FF9800;;
	padding: 16px 115px;
	text-decoration: none;
	border-radius: 12px;
	cursor: pointer;
}

input[type=checkbox]{
	height: 20px;
	width: 20px;
}

.incomplete{
	color: red;
}

.bas{
	margin-bottom: 5%;
}

.haut{
	margin-top: 2%;
	margin-bottom: 2%;
}

td.fill-input{
	background:red;
}

input{
	max-width: 30rem;
}