

body {
    overflow: hidden;
    touch-action: manipulation;
}

#logo {
    padding-top: 15px;
    padding-left: 20px;
    width: 400%;

    /*padding-left: 673px;
    width: 823px;*/
}

.background-img {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu {
    text-align: center;
    margin: 1em;
}
/*css for circle of health check connection mydws and teamviewer*/
@keyframes up-right {
    0% {<!--from w w w .  j  a va 2  s. c  o m-->
        transform: scale(1);
        opacity: .25
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}
.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}
.green {
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: up-right 1s infinite;
    }
.yellow {
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: up-right 1s infinite;
    }
.redBlinking {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: up-right 1s infinite;
}
/* end of css for circle of health check connection mydws and teamviewer */

.buttonDWS-prod-selection {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    height: 50px;
    border-radius: 4px;
    margin: 5px 0px 5px 0px;
}


ul .buttonDWS-prod-selection {
    margin: 12px 0px 12px 0px;
}

.buttonDWS {
    width: 45.5%;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /*transform: translate(-50%, 0%);
    position: relative;
    top: 50%;
    left: 50%;
    height: 70px;*/
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    width: 88%;
    margin-left: 5%;
}

.modal-instruction p{
    font-size: 26px;
}



.modal-dialog {
    width: 80%;
}

.warning-msg {
    color: #df0101;
}


.product-img {
    max-width: 100%;
}

div.redsquare {
    transform: translate(50%, 50%);
    position: absolute;
    margin-bottom: 0px;
    margin-top: 0px;
    right: 50%;
    bottom: 50%;
    width: 145px;
}

.button-container {
    position: absolute;
    bottom: 0;
    width: 92.5%;
}

textarea {
    width: 100%;
    height: 20%;
}

.dropdown-menu:not(.dropup-menu):not(.select-lang) {
    min-width: 100%;
}


.dummy-text-for-fonts {
    font-size: 1px;
    position: absolute;
}

div.productRow{
	position: absolute;
    width: 100%;
    bottom: 10%;
}
.header{
	padding-bottom: 1%;
}
.header .row{
    margin: 0px;
}

.dropdown-menu.dropup-menu {
	width: 90%;
}

.warning-msg-platform{
    padding: 11px;
    font-size: 1em;

    position: absolute;
    width: 100%;
    bottom: 30%;
    text-align: center;
}

.platform-img{
    width: 65%;
}

button[disabled] {
    background-color: #bcbbbb;
}

#modal-sending-order .modal-body{
	text-align: center;
}




/****** Style Star Rating Widget *****/

.rating {
    border: none;
    width: 77%;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 10px;
    font-size: 2.75em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

.q-response{
    margin: 15px;
    text-align: center;
}

.stars-container{
	padding: 1%;
}


#myRange{
  height: 8px;
  border-radius: 5px;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  /*cursor: pointer;*/
}


.slidecontainer {
  width: 105%;
  padding: 13% 8% 15px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  /*cursor: pointer;*/
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.red-border {
    border: 1px solid #ef0202;
}


/****** End Style Star Rating Widget *****/

@media only screen and (max-height: 600px){
	.warning-msg-platform {
	    width: 93%;
    }
	.title {
	    margin-left: -10px;
	    margin-right: -10px;
	    background-color: grey;
	    color: white;
	    text-align: center;
	    padding: 15px;
	}
}

.product {
    /*height: 80vh;*/
    margin-left: -10px;
    margin-right: -10px;
    background-color: grey;
    color: white;
    text-align: center;
    /*padding: 300px 0;*/
}

img {
    /*width:100%;*/
    /*max-width:350px;*/
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

textarea.invalid {
    border-color: red;
}

input.invalid {
    border-color: red;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.row {
    margin-bottom: 15px;
}

.productRow .row{
    margin-bottom: 0px;
}

.header {
    margin-bottom: 30px;
    /*margin-top: 15px;*/
}

.menu {
    text-align: center;
    margin: 22px;
}

.dummy-text-for-fonts {
    font-size: 1px;
    color: transparent;
    position: absolute;
}

div.redsquare {
    transform: translate(50%, 50%);
    position: absolute;
    /*
    border: 1px solid #ef0202;
    */
    margin-bottom: 0px;
    margin-top: 0px;
    right: 50%;
    bottom: 50%;
    width: 145px;
}

.col-lg-33333 {
    width: 25%;
    min-width: 230px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


/* Makes the picture resizable
.img-container {
    display: inline-block;
    position: relative;
    resize: horizontal;
    overflow: auto;
}
*/

.positioning {
    transform: translate(50%, 50%);
    position: absolute;
    right: 50%;
    bottom: 50%;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
}


/* Styles for grey touch square */

.moving-square div {
    box-sizing: unset;
    z-index: 999;
}

.moving-square div canvas {
    z-index: 999;
    position: relative;
}

#textCanvas {
    margin-left: -1px;
    margin-top: -1px;
}

#logo {
    padding-top: 15px;
    padding-left: 20px;
    width: 400%;

    /*padding-left: 673px;
    width: 823px;*/
}

.background-img {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

html, body {
    overflow: hidden;
    max-width: 100%;
    overflow-x: hidden;
}

#circle {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    float: right;
}

#circle.error-connecting {
    background: rgba(255, 255, 0, 1)!important;
}


fieldset, label {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
}


/***** Drop UP *****/

.dropup .dropdown-menu li {
    width: 90%;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transform: translate(-50%, 0%);
    position: relative;
    top: 50%;
    left: 50%;
    height: 50px;
}

.dropup .dropdown-menu li a {
    color: white;
}

.dropdown.MFK-custom{
	display: none;
}
.dropdown.RM{
	display: none;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */


/*.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }*/

.rating>input:checked~label:hover~label {
    color: #FFD700;
}

#right-panel p{
    padding: 11px 11px 0px 11px;
}

p.info{
    padding: 11px;
    text-align: left;
    font-size: 20px;
}

.slidecontainer {
    width: 94%;
    padding-left: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


    input[type='range'] {
      background-color: #d3d3d3;
    }

    input[type='range']::-webkit-slider-runnable-track {
      color: black;
    }

    input[type='range']::-webkit-slider-thumb {
      background: black;
    }

.modal-instruction p{
    font-size: 26px;
}

.predef-text{
    background-color: #cccbcb;
    border-radius: 10px;
    float: left;
    padding: 5px 10px;
    color: black;
    width:30%;
}


.button-predef-container{
    padding-right: 10px;
    /*width: 105%;*/
    padding-left: 10px;
}

p{
    margin: 0 0 5px;
}


@media only screen and (min-height: 600px){

    .h4, h4 {
        font-size: 2em;
    }
    .loadingGif {
        width: 17%;
    }

	.warning-msg-platform{
	    font-size: 2em;
    }
	.caret{
        border-top: 7px dashed;
	}

	textarea {
	    border-width: 2px;
	    font-size: 230%;
	}

	.dropdown-menu>li>a{
		font-size: 200%;
	}

	.buttonDWS-prod-selection {
		font-size: 30px;
		height: 100px;
		border-radius: 10px;
	}
    .buttonDWS {
        padding: 2em 1em;
    }
    .dropup .caret{
        border-bottom: 14px dashed;
    }

    p{
        font-size: 2em;
    }

	.rating>label:before {
	    font-size: 4.75em;
    }
}

@media only screen and (min-height: 800px){
	h1 {
	    font-size: 2em;
	}

	.back-button-categories{
		margin-top: 2.2rem;
	}

	.caret{
        border-top: 10px dashed;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
	}

    p{
        margin: 0 0 10px;
        font-size: 30px;
    }

    .buttonDWS-prod-selection {
        padding: 35px 20px;
        height: 77%;
        border-radius: 10px;
    }
    #circle {
        width: 90px;
        height: 90px;
    }
    #circle {
        border-radius: 55px;
    }
        .slidecontainer {
        width: 105%;
    }


    .modal-instruction p{
        font-size: 66px;
    }

    .predef-text{
        font-size: 30px;
        width:30%;
    }

    .initials-input-container{
        font-size: 30px;
    }

    input[type=checkbox]{
      /* Double-sized Checkboxes */
      -ms-transform: scale(2); /* IE */
      -moz-transform: scale(2); /* FF */
      -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
      padding: 10px;
    }
}

.input-mail{
    text-align: center;
}

.input-mail input{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

p.legal{
    font-size: 10px;
}

.radio-buttons{
    text-align: center;
}

.radio-buttons input[type=radio]{
    margin: 0 20 0 20;
}

/* @font-face {
	font-family: EmojisFont;
	src: url('/customStatic/Fonts/symbola.woff');
}

@font-face {
	font-family: CustomEmojisFont;
	src: url('/customStatic/Fonts/customEmojisDWS_lapin.ttf');
} */

.ui-keyboard button{
    font-family: CustomEmojisFont,EmojisFont!important;
}

textarea{
    font-family: CustomEmojisFont,engravingFont,Trebuchet MS,Verdana,Arial,sans-serif,EmojisFont!important;
    resize: none;
}

/* Ordered list with colors */
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}

/* Ordered list with ) */
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    position: relative;
}
ol > li:before {
    counter-increment: list;
    content: counter(list) ") ";
    position: absolute;
    left: -1.4em;
}

.back-to-start-button{
    display: none;
    background-color: #3F51B5;
    color: white;
}

.prev-step-error{
    float: left;
    display: none;
}

.progress {
    margin-top: 9px;
    margin-bottom: 5px;
}

.warning-msg-container{

}

.font-selector-buttons-container{
    padding-top: 1%;
}

.change-font-size{
    width: 32%;
    padding: 2px;
    margin: 6px;
}

.change-font-size.small{
    font-size: 11px;
}

.change-font-size.big{
    font-size: 29px;
}

.select-lang{
    float: left;
}

.select-lang p{
    display: inline;
    margin-right: 10px;
}

option{
    background-color: white;
}

#signatureCanvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#myModalSignature .modal-footer {
    padding: 10px 20px;
}

#screen1-separator{
    height: 60vh;
}

.modal-body .password-admin{
    width: 1px;
    height: 1px;
    margin-left: 300px;
}

.modal{
    z-index: 99;
}
.modal-backdrop {
    /*z-index: 98;*/
    z-index: 89;
}

#redRectangleButton{
    display: inline-block;
    padding: 15px;
}
/* Copy for both screen sizes */
button.ui-keyboard-button.custom-ui-state-active{
    border: 1px solid #fbd850;
    background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    /*font-weight: bold;
    color: #eb8f00;*/
}


#positioning-button{
    display:none;
}

.back-button-categories{
	background-color: transparent;
    width: 120%;
    padding: 0;
}

.dropdown .buttonDWS{
	width: 100%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}

li img{
	width: 50%;
}

#mcd-images a{
	text-align: center;
}

#logo {
    width: 100%;
}
#selectLangBox{
	display:none;
}

.ui-keyboard div.ui-keyboard-keyset-alt button{
		font-family: CustomEmojisFont,engravingFont,Trebuchet MS,Verdana,Arial,sans-serif,EmojisFont!important
	}

.dropdown-menu>li>a {
	padding: 10px 20px;
}

.ui-keyboard-preview-wrapper textarea{
	height: 5.5em;
}

.left{
    float: left;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e9e9e9;
}

.modal-footer-row{
	padding-bottom: 6px;
    padding-top: 6px;
}

.modal {
    z-index: 90;
}


.training-status img{
	display: initial;
	width: 15px;
}

div.tooltip {
    border: 0px;
}

div.tourcontrols {
    background: #519cb7;
    z-index: 100;
}

div.tourcontrols .nav{
	padding: 0px 10px 10px 10px;
	text-align: center;
}

.tourcontrols p{
	text-align: center;
}

.tourcontrols .btn.btn-default{
	width: 45%;
}

/* Styles for training table*/
.tableFixHead {
	overflow-y: auto;
	max-height: 15em;
}
.tableFixHead thead th {
	position: sticky;
	top: 0;
}
th {
	background: #eee;
}

#redRectangleButton-loading.loadingGif{
    width: 16.5%;
}

.modal-header .row{
	margin-bottom: 0px;
}

.show-ecommerce{
	display: none;
}

.header div div button{
	margin-top: 1.6rem;
}

.header div div button.adminPassOk{
	background-color: red;
    color: white;
}

.adminPassOk.btn-default.disabled.focus,.adminPassOk.btn-default.disabled:focus,.adminPassOk.btn-default.disabled:hover,.adminPassOk.btn-default[disabled].focus,.adminPassOk.btn-default[disabled]:focus,.adminPassOk.btn-default[disabled]:hover {
	background-color: red;
    color: white;
}

.dot-color{
	display: inline;
	height: 50px;
    width: 49px;
	background-color: inherit;
	border-radius: 50%;
	display: inline-block;
	margin: 1px 15px 0px 15px;
}

.dot-color .active {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px #000000, inset 0 0 0 4px #fff;
	margin-left: -3px;
    margin-bottom: -3px;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2px;
}

.dot.accessory.silver{
  background-color: #C0C0C0;
}

.dot.accessory.gold{
  background-color: #DAA520;
}

.dot.accessory.white{
  background-color: #fff;
  border: 1px solid;
}


.btn.btn-default.btn-number{
	font-size: 20px;
	outline: none;
}

.btn.btn-default.btn-number:hover{
	background-color: initial;
}

.btn.btn-default.btn-number[disabled]{
    color: white;
	background-color: initial;
}

.fontsize-buttons-container{
	margin-top: 20%;
	width: 50%;
}

#fontsize-buttons-container input.form-control.input-number{
	text-align: center;
}

.no-border{
	border: none;
	box-shadow: none;
}

.hidden-visibility{
	visibility: hidden;
}

.back-button-categories svg{
	max-height: 80px;
}

/* Buttons on two columns row style */
.two-cols-row {
    display: flex;
    width: 100%;
    gap: 12px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    height: 400px;
    overflow: auto;
    padding: 10px;
}

li{
list-style-type: none;
}
.image-grid a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
}

.image-grid img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
