#welcome-title-training{
font-family: Belleza-Regular;
}
p{
font-family: Strawford-Regular;

}

button{
font-family: Strawford-Regular;
}

li{
font-family: Strawford-Regular;
}

label{
font-family: Strawford-Regular;
    font-size: 14px;
}

@font-face {
 font-family: "Strawford-Regular";
 src: url("/customStatic/Fonts/Strawford-Regular.otf")
}
@font-face {
 font-family: "Belleza-Regular";
 src: url("/customStatic/Fonts/Belleza-Regular.ttf")
}
.background-img-training {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.training.btn{
    bottom: 0;
    position: fixed;
    margin: 0px 10px 10px 10px;
}
.training.back{
    left: 0;
}
.training.next{
    right: 0;
}
.training.center{
    right: 50%;
    transform: translate(50%, 0%);
}

.error{
	color:red;
}

#header{
	margin: 10px;
}

input{
	width: 17%;
}

input[type=date]{
	width: initial;
}

input.error {
	border: 2px solid red;
	border-radius: 4px;
	color: black;
}

p{
	font-size: 14px;
}

label{
	padding-right: 9px;
}

label[for=date]{
	padding-right: 17px;
}

input{
	margin-right: 10px;
}

#logo{
    padding-top: 13px;
    padding-left: 0px;
    width: 150%;
}

form{
	height: 100vh;
}

#selectLangBox{
	display: initial;
	font-family: Strawford-Regular;
}

.loadingGif{
	margin-top: 20%;
}