
textarea{
  font-family: CustomEmojisFont,engravingFont,Trebuchet MS,Verdana,Arial,sans-serif,EmojisFont!important;
  resize: none;
}

body{
	font-family: PalatinoLinotype-Roman;
  text-transform : capitalize;
}


    @font-face {
        font-family: PalatinoLinotype-Roman;
        src: url(/customStatic/Fonts/PalatinoLinotype-Roman2.otf);
    }

#cale_remove {
  max-width: 100%;
}