#imgcontainer{
    margin-top: 20px;
}

.buttonDWS, .buttonDWS:hover, .buttonDWS:focus {
    background-color: #dbd4d6; /* 5315U */
    outline: none;
    border-radius: 8px;
    height: 40px;
    padding: 10px 32px;
}

.dropdown .buttonDWS{
    /*width: 40.5%;*/
    float: left;
}

.btn.btn-primary.dropdown-toggle.buttonDWS{
    margin-right: 6px;
}

.buttonDWS-prod-selection{
    background-color: #dbd4d6; /* 5315U */
    border-radius: 8px;
    width: 80%;
    height: 60px;
    padding: initial;
}

#right-panel textarea{
    color: #5c5b5b; /* #dbd4d6; /* 5315U */
    border: 1px solid #dbd4d6;
    border-radius: 0px;
    text-align: center;
    background: white;
    padding: 43px;
    font-size: 1.75rem;
}

textarea{
    font-family: CustomEmojisFont,kurkdjian,Trebuchet MS,Verdana,Arial,sans-serif,EmojisFont!important;
}

@font-face {
  font-family: 'kurkdjian';
  src: url('/customStatic/Fonts/grotesquemtstd-light.otf');
}

#textToEngrave_keyboard button{
    color: grey;
    font-family: CustomEmojisFont, kurkdjian, EmojisFont!important;
}

#textToEngrave_keyboard .ui-state-active{
    border: 2px solid #f9c601;
}

#textToEngrave_keyboard button.ui-keyboard-accept.ui-keyboard-valid-input {
	border: 1px solid #cccccc;
	background: #797576;
	color: white;
}

h1 {
    color: #3d4d59; /* 7546U */
}

div {
    font-family: kurkdjian;
}

body:not(.e-commerce) #logo {
    position: absolute;
    width: 225%;
}

.e-commerce #logo{
    width: 115%;
}

#screen1-separator{
    height: 60vh;
}

#screen2Form{
    padding-top: 30px;
    padding-bottom: 30px;
}

#screen3Form{
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-content .btn.btn-default{
    background-color: #dbd4d6;
}

.progress-bar {
   background-color: #dbd4d6;
}

.progress-bar-danger {
    background-color: #d9534f
}

.progress-bar-success {
    background-color: #5cb85c
}

#screen-saver-img.background-img {
    background-size: 150px;
}

#screen-saver-img.background-img div.left-line{
    border-left: groove;
    padding-left: 26px;
}

#screen-saver-img.background-img div.right-line{
    padding-left: 0px;
}

.finishText.stars-container{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}

.rating{
    display: none;
}

button[disabled], button.btn-primary[disabled]:hover{
    /*background-color: #bcbbbb00;*/
    background-color: #dbd4d6;
    outline: none;
    color: #b1afaf;
    background-color: #dbd4d638;
}

.modal-content button.btn.btn-default[disabled] {
    /*background-color: #bcbbbb00;*/
    color: #b1afaf;
    background-color: #dbd4d638;
}

.background-img div.center-lang{
    border-style: none solid none solid;
    border-width: 1px;
    border-color: grey;
}

.background-img div.lang{
    text-align: center;
    width: 11%;
}

h1.menu{
    visibility:hidden;
}

#positioning-button{
    display:inline-block;
}

.font-selector-buttons-container .btn-primary.active, .font-selector-buttons-container .btn-primary:active, .font-selector-buttons-container .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #949494;
    border-color: #949494;
}

p.info {
    font-size: 18px;
}
.platform-img {
    width: 61%;
    margin-top: -5px;
}

div.productRow{
    margin-left: 20px;
}

#cale_remove {
    max-width: 100%;
}